@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}
:root{
    --primary :rgba(9, 52, 164, 1);
}


    .close-menu{
       display: flex;
       align-self: self-end;
       flex-shrink: 0;
    }
    
    .nav-desc-container{
        display: flex;
        flex-direction: column;
        color: #B3B3B3;
text-align: center;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
gap: 48px;
    }


   
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px;
        align-items: center;
        max-width: 1400px;
        margin: auto;

    }
    main{
        display: flex;
        flex-direction: column;
        gap: 70px;
        max-width: 1400px;
        margin: auto;
        width: 100%;
        overflow: hidden;
    }
    
    nav{
        position: fixed;
        background-color: white;
        width: 100%;
        height: 100% !important;
        left: 0;
        top: 0;
        z-index: 90;
        display: none;
        flex-direction: column;
        gap: 60px;
        justify-content: flex-start;
        padding: 20px;
        align-items: center;
    }

    .open-menu{
        display: flex;
    }

  .nav-desc-container .download-container{
    align-self: center;
  }

  .menu-logo{
    display: flex;
    align-self: center;
  }

  .nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }
    .logo-desktop{
        width: 120px;
        height: auto;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        gap: 64px;
        list-style: none;
        color: rgba(179, 179, 179, 1);
        gap: 37px;
    
    }

    
    
    nav ul li{
    font-size: 16px;
    font-weight: 600;
    /* line-height: 27px; */
    letter-spacing: 0em;
    
    }
    
    nav ul .active{
        font-size: 16px;
        font-weight: 700;
        /* line-height: 27px; */
        letter-spacing: 0em;
        color: var(--primary);
    }
    
    .nav-btn-container{
        display: flex;
        gap: 12px;
        display: none;
    }
    
    .btn-primary{
     
        border: 1px;
        background: var(--primary);
        outline: none;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        padding: 11px 32px;
        font-family: Open Sans;
        border-radius: 32px;

    }
    
  
    
    .hero-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding:  0 0px ;
        position: relative;
        width: initial;
        gap: initial;
        gap: 40px;
        margin-top: 40px;
        overflow-x: hidden;
        overflow-y: initial;
        padding-bottom: 50px;

    }


    .hero-desc-container{
        display: flex;
        flex-direction: column;
        gap: 22px;
        padding:20px;
        flex: 1;
        flex-shrink: 0;
        align-items: center;
    }
    
    .hero-bg{
        position: absolute;
        bottom: 0px;
        left: 40px;
        top: initial;
    }
    .hero-bg-2{
        position: absolute;
        bottom: 0px;
        right: 0px;
        right: -7%;
        width: 80.457px;
height: 80.457px;
    }
    
    .hero-header{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .hero-circle{
        position: absolute;
        right: 80%;
        top: 60%;
        align-items: center;
    }

    
    .hero-header h1{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0em;
    background: linear-gradient(103.55deg, #1D4EFF 8.63%, #0934A4 63.77%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;
    padding: 0;
    text-align: center;

    }


    .hero-desc{
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: rgba(143, 143, 143, 1);
    }
    
    
    .hero-header h3{
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: left;
        padding: 7px 17px;
        color: rgba(29, 78, 255, 1);
        border: 1px solid rgba(29, 78, 255, 1);
        border-radius: 19px;
        align-self: center;

    }
    
    .download-container{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    
    .download-container p{
    font-size: 12px;
    font-weight: 400;
    color: rgba(63, 63, 63, 1);
    text-align: center;
    }
    
    .download-container  .app-container{
      display: flex;
      gap: 10px;
    }
    
    .hero-img-container{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-image{
        max-width: 100%;
        transform: scale(1.2);
        

    }
    
    .hero-ball{
        background: linear-gradient(150.76deg, #1D4EFF 12.22%, #0934A4 99.78%);
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        box-shadow: 0 10px 80px 60px #1D4EFF;
        z-index: -1;
    }
    

    .take-container{
    padding: 0px 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 53px;
    }

   

    .take-container img{
        width: 100%;
        flex: 1;
    }

    .take-desc-container{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 46px;
    }
    

    .take-header-container{
        display: flex;
        flex-direction: column;
        gap: 19px;
    }

    .take-header-container h1{
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;

    }

    h1 span{
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;  background: linear-gradient(103.55deg, #1D4EFF 8.63%, #0934A4 63.77%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    }

    .linear-text{
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;  background: linear-gradient(103.55deg, #1D4EFF 8.63%, #0934A4 63.77%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    }

    .take-header-container p{
        color: rgba(143, 143, 143, 1);
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

    }


    .take-list-container{
        display: flex;
        flex-direction: row;
        gap: 37px;
    }

    .take-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        flex: 1;
        align-items: center;
    }

    .take-list-desc{
        display: flex;
        flex-direction: column;
    }

    .take-list svg{
        width: 36px;
height: 36px;
    }

    .take-list-desc h1{
        font-family: Open Sans;
font-size: 10px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
white-space: nowrap;
    }


    .take-list-desc p {
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        display: none;
    }

    .take-list svg{
        flex-shrink: 0;
    }

    .header-label{
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        padding: 7px 17px;
        color: rgba(29, 78, 255, 1);
        border: 1px solid rgba(29, 78, 255, 1);
        border-radius: 19px;
        align-self: center;
    }


.feature-container{
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0px 20px;
}

.feature-header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-header-container p{
    font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: rgba(143, 143, 143, 1);
}

.header-1, .header-2{
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex: 1;
}

.header-2{
    align-self: flex-end;
    display: none;
}

.header-1 h1{
    font-family: Open Sans;
font-size: 25px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;

}

.header-1 p{
    width: 100%;
}


.control-container{
    display: flex;
    gap: 16px;
}

.feature-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 11px;
    flex-wrap: wrap;
}

.feature{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color:rgba(29, 78, 255, 0.3);
    padding: 20px 14px;
    width: 48.0%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.feature-indicator-mobile{
    display: flex;
    flex-direction: column;
    gap: 31px;
    align-items: center;
    
}


.feature-indicator{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.feature-indicator div{
    width: 9px;
height: 4px;
background: #F5F5F5;
flex-shrink: 0;
}
.feature-indicator .active{
    width: 68px !important;
    border-radius: 20px;
background: #0934A4 !important;
}

.feature-indicator-mobile p{
    color: #8F8F8F;
text-align: center;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.feature h1{
    font-family: Open Sans;
font-size: 12px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;

}

.feature p {
    
font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: rgba(83, 83, 83, 1);
display: none;

}

.feature svg{
    height: 36px;
    width: 36px;

}

.f2{
    background-color: rgba(21, 166, 36, 0.2);
}

.f3{
    background-color: rgba(185, 198, 35, 0.21);
}


.f4{
    background-color: rgba(29, 78, 255, 0.15);
}


.saving-container{
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 0px 20px;
    position: relative;
    
    
}

.save-bg{
    left: -2%;
    z-index: -10;
    position: absolute;
    transform: translateY(-5%);
    display: none;
}


.header-label-green{
    background-color: rgba(14, 188, 41, 1);
    padding: 9px 14px;
font-size: 10px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
align-self: center;
border-radius: 19px;
}


.saving-desc-container{
    display: flex;
    flex-direction: column;
    gap: 56px;

}

.saving-container .section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 56px;
}

.saving-container .section-1 h1{
font-size: 16px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
width: 100%;

}

.saving-container .section-1 img{
    width: 256px
}

.saving-container .section-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}


.saving-container .section-2 .div{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.saving-container .section-2 > .saving-card{
    flex-grow: 1;
}



.saving-card{
    padding: 21px 20px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
    background-color: rgba(255, 255, 255, 1);
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 10px;
    flex-shrink: 0;
    max-width: 105px;
    flex: 1;
}

.saving-card h1{
font-size: 12px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;
    /* white-space: nowrap; */


}


.saving-card p{
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
    color: rgba(83, 83, 83, 1);
    display: none;
    
}

.saving-card svg{
    width: 35px;
    height: 35px;
}




.shop-container{
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    background-color: rgba(29, 78, 255, 0.15);
    border-radius: 47px;
    padding: 50px 20px;
    gap: 135px;
}


.shop-header{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}

.shop-header h1{
    font-family: Open Sans;
font-size: 25px;
font-weight: 700;
letter-spacing: 0em;
text-align: center;

}

.shop-header p{
    font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: rgba(143, 143, 143, 1);
}


.shop-header .link{
    color: rgba(29, 78, 255, 1);
    margin-top: 21px;
    font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
}


.shop-container .shop-desc{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    position: relative;
    width: 100%;
    border-radius: 84px;
background: linear-gradient(90deg, #01030B 0%, #1D4EFF 100%);
padding: 41px;
height: 350px;
gap: 34px;    margin-top: 25%;

}

.shop-container img{
    position: relative;
    bottom: 0;
    right: 0;
    transform: scale(1.4);
    width: 100%;

}

.bg-desc-container{
    display: flex;
    align-items: center;
    gap: 24px;
}

.bg-desc-container svg{
    height: 80px;
    width: 80px;
}

.bg-desc-container p {
    color: #FFF;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.bitcon-container{
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 20px;
    gap: 50px;

}

.bitcon-container img{
    width: 100%;
    flex-shrink: 0;
    flex: 1;
}

.bitcon-desc-container{
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    gap: 15px;
}

.bitcon-desc-sub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 43px;
}

.header-label-yellow{
    background-color: #EBD146;
    padding: 7px 14px;
font-size: 10px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
align-self: center !important;
border-radius: 19px;

}


.bitcon-header{
    display: flex;
    flex-direction: column;
    gap: 13px;

}


.bitcon-header h1{
    color: #000;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
text-align: center;
}


.bitcon-header p{
    color: #8F8F8F;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.bitcon-service-container{
    display: flex;
    flex-direction: row;
    gap: 31px;
    justify-content: center;

}


.bitcon-service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
    align-items: center;
}

.bitcon-desc{
    display: flex;
    flex-direction: column;
}

.bitcon-desc h1{
    color: #000;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
align-items: center;
text-align: center;
}


.bitcon-desc p{
color: #8F8F8F;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: none;
}


.bitcon-service svg{
    height: 35px;
    width: 35px;
}




.test-container{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    gap: 42px;
}


.test-header{
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 0 20px;
}

.test-sub-header{
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.test-sub-header h1{
font-family: Open Sans;
font-size: 25px;
font-style: normal;
text-align: center;
font-weight: 700;

}


.test-sub-header p {
    color: #8F8F8F;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}


.test{
    display: flex;
    flex-direction: column;
    border-radius: 0px;
background: #DDE5FF;
overflow: hidden;
gap: 24px;
align-items: center;
padding: 24px;
}

.test img{
    width: 70%;
    border-radius: 15px;
}

.test-desc{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.test-desc > p{
    color: #535353;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 100%;
text-align: center;
}

.test-desc .info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}


.name{
    color: #3F3F3F;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.location{
    color: #3F3F3F;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.location span{
    font-weight: 700;
}


.test-desc .control-container{
    align-self: center;
}


.provider-container{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 21px;
}

.provider-header{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}


.provider-header h1{
    align-self: center;
    text-align: center;
}

.provider-header h1:nth-last-child(1){
    color: #000;
text-align: center;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
}

.provider-container img{
    width: 100%;
}


.provider-header p {
    color: #B3B3B3;
text-align: center;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.get-container{
    display: flex;
    flex-direction: column;
    gap: 74px;
    padding: 0px 20px;
}


.get-container .provider-header > h1:nth-last-child(2){
        color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    
}

.get-desc-container{
    display: flex;
    flex-direction: column;
}

.get-image{
    width: 100%;
}



.get-desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 34px;
}
.get-container img{
    width: 100%;
}
.step-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
}

.step{
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
}

.step-content{
    display: flex;
    flex-direction: column;
}

.step-content h1{
    color: #000;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}


.step-content p {
    color: #8F8F8F;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}



.hub-container{
    margin: 40px 0px 100px 0px ;
    padding: 60px 20px;
    height: 671px;
    border-radius: 22px;
background: linear-gradient(100deg, #1D4EFF 0%, #0934A4 76.67%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
gap: 142px;

}

.hub-desc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.hub-header{
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.header-label-no{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0em;
    padding: 7px 27px;
    border-radius: 19.5px;
border: 1px solid #FFF;
    align-self: center;
    color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;

}


.hub-header h1{
    color: #FFF;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
text-align: center;
}

.hub-desc {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.hub-desc p {
    color: #FFF;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 100%;
text-align: center;
}


.hub-container > img{
    width: 193px;
    align-self: center;
    transform: scale(2.5);
}


.sub-footer{
    display: flex;
    flex-direction: column;
    gap: 82px;
    align-items: center;
    padding: 0px 0px;
}

.sub-footer h1{
    display: flex;
    color: #000;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding: 10px;
}


.sub-image{
    position: relative;
    width: 100%;
    height: initial;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
overflow: hidden;
}

.sub-image-1{
    width: 70%;
}

.bg-4{
    position: absolute;
    align-self: start;
    z-index: -2;
    width: 100%;
    margin-top: 38%;
    transform: scale(1.2);    
}

/* .sub-image-1{
    width: 100%;
} */

.footer{
margin: 0 0px;
padding: 40px 20px;
flex-shrink: 0;
border-radius: 10px;
background: #F5F5F5;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 33px;

}


.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 87px;
}
.footer-1{
    display: flex;
    flex-direction: column;
    gap: 43px;
    width: 100%;
    align-items: center;

}



.footer-header{
    display: flex;
    gap: 11px;
    flex-direction: column;
    align-items: center;
}


.footer-1 p{
    color: #535353;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

.subscribe-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


.input-box{
    display: flex;
    flex-direction: column;
background: none;
align-items: center;
justify-content: center;
padding: 10px;
padding-left: 10px;
gap: 21px;
width: 100%;

}

.input-box .input{
    display: flex;
    background: #fff;
    border-radius: 21px;
    align-self: stretch;
    gap: 4px;
    padding: 10px;
    justify-content: center;
    

}

.input-box svg{
    flex-shrink: 0;
    height: 20px;
    width: 20px;
}
.input-box input {
    color: #B3B3B3;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
outline: none;
background: none;
border: none;
width: 50%;

}


.input-box button{
    display: flex;
}


.input-box button{
    border-radius: 21px;
background: #0934A4;
padding: 7px 27px;
color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: none;
outline: none;
}

.footer-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 46px;
}

.link-section{
    display: flex;
    gap: 14px;
    flex-direction: column;
    list-style: none;
    width: 50%;
}


li{
    color: #B3B3B3;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header-link{
    color: #000;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.footer-footer{
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: space-between;
    align-items: center;

}

.footer-footer div{
    gap: 43px;
    display: flex;
    flex-direction: row;
}

.footer-footer p{
    color: #0934A4;
font-family: Open Sans;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.footer-footer p {
    font-family: 400;
}

.shop-mobile{
    display: block;
}

.shop-desk{
    display: none;
}

.get-mobile{
    display: block;
    transform: scale(1.1);
    margin-top: 10px;
}

.get-desk{
    display: none;
}

.hr{
    background: #EBEBEB;
    height: 1px;
    width: 100%;
    padding: 0px 80px;
}

@media only screen and (min-width: 768px) {
    .hr{
        display: none
    }


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Open Sans;
    }
    :root{
        --primary :rgba(9, 52, 164, 1);
    }
    
    
        .close-menu{
           display: none;
        }
        #text {
            overflow: hidden;
            white-space: nowrap !important;
            width: initial;
            align-self: flex-start;
            border-right: 2px solid var(--primary);
           
        }
        .nav-desc-container{
            display: none;
        }
    
    
       
        header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 40px 80px;
            align-items: center;
            max-width: 1200px;
            margin: auto;
    
        }
        main{
            display: flex;
            flex-direction: column;
            gap: 120px;
            max-width: 1200px;
            margin: auto;
            overflow: initial;

        }
        
        nav{
            position: initial;
            width: initial;
            display: flex;
        }
    
        .open-menu{
            display: none;
        }
    
        .logo-desktop{
            width: 120px;
            height: auto;
        }
        
        nav ul{
            display: flex;
            flex-direction: row;
            gap: 64px;
            list-style: none;
            color: rgba(179, 179, 179, 1);
        
        }
        
        nav ul li{
        font-size: 16px;
        font-weight: 600;
        /* line-height: 27px; */
        letter-spacing: 0em;
        
        }
        
        nav ul .active{
            font-size: 16px;
            font-weight: 700;
            /* line-height: 27px; */
            letter-spacing: 0em;
            color: var(--primary);
        }
        
        .nav-btn-container{
            display: flex;
            gap: 12px;
        }
        
        .btn-primary{
         
            border: 1px;
            background: var(--primary);
            outline: none;
            color: white;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            padding: 11px 32px;
            font-family: Open Sans;
            border-radius: 32px;
    
        }
        
      
        
        .hero-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding:  0 0 0 0px ;
            position: relative;
            width: initial;
            gap: initial;
            gap: 40px;
            overflow: initial;
            margin-top: 0;
        }
    
    
        .hero-desc-container{
            display: flex;
            flex-direction: column;
            gap: 22px;
            padding-left: 80px;
            flex: 1;
            flex-shrink: 0;
        }
        
        .hero-bg{
            position: absolute;
            bottom: 0px;
            left: 40px;
            top: initial;
        }
        .hero-bg-2{
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
        
        .hero-header{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-self: start;
        }
        
        .hero-circle{
            position: absolute;
            right: 30%;
            top: 9%;
            align-items: center;
        }
    
        
        .hero-header h1{
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0em;
        background: linear-gradient(103.55deg, #1D4EFF 8.63%, #0934A4 63.77%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        background-clip: text;
        padding: 0;
        text-align: left;
    
        }
    
    
        .hero-desc{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(143, 143, 143, 1);
        }
        
        
        .hero-header h3{
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0em;
            text-align: left;
            padding: 9px 29px;
            color: rgba(29, 78, 255, 1);
            border: 1px solid rgba(29, 78, 255, 1);
            border-radius: 19px;
            align-self: self-start;
    
        }
        
        .download-container{
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-self: start;
        }
        
        .download-container p{
        font-size: 12px;
        font-weight: 400;
        color: rgba(63, 63, 63, 1);
        text-align: left;
        }
        
        .download-container  .app-container{
          display: flex;
          gap: 10px;
        }
        
        .hero-img-container{
            width: 697px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .hero-image{
            width: 100%;
            transform: scale(1);
    
        }
        
        .hero-ball{
            background: linear-gradient(150.76deg, #1D4EFF 12.22%, #0934A4 99.78%);
            position: absolute;
            height: 250px;
            width: 250px;
            border-radius: 50%;
            box-shadow: 0 10px 140px 60px #1D4EFF;
            z-index: -1;
        }
        
    
        .take-container{
        padding: 10px 80px;
        display: flex;
        flex-direction: row;
        gap: 53px;
        }

        .take-list svg{
            width: 50px;
    height: 50px;
        }
    
    
        .take-container img{
            width: 479px;
            flex-grow: 1;
            /* flex: 1; */
        }
    
        .take-desc-container{
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: inherit;
            gap: 81px;
        }
    
        .take-header-container{
            display: flex;
            flex-direction: column;
            gap: 19px;
        }
    
        .take-header-container h1{
            font-size: 30px;
            font-weight: 700;
            line-height: 41px;
            letter-spacing: 0em;
            text-align: left;
    
        }
    
        h1 span{
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;  background: linear-gradient(103.55deg, #1D4EFF 8.63%, #0934A4 63.77%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        }
    
        .linear-text{
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;  background: linear-gradient(103.55deg, #1D4EFF 8.63%, #0934A4 63.77%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        }
    
        .take-header-container p{
            color: rgba(143, 143, 143, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
        }
    
    
        .take-list-container{
            display: flex;
            flex-direction: column;
            gap: 37px;
        }
    
        .take-list{
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
    
        .take-list-desc{
            display: flex;
            flex-direction: column;
        }
    
        .take-list-desc h1{
            font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
    
        }
    
    
        .take-list-desc p {
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            display: block;
        }
    
        .take-list svg{
            flex-shrink: 0;
        }
    
        .header-label{
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0em;
            text-align: left;
            padding: 9px 29px;
            color: rgba(29, 78, 255, 1);
            border: 1px solid rgba(29, 78, 255, 1);
            border-radius: 19px;
            align-self: self-start;
        }
    
    
    .feature-container{
        display: flex;
        flex-direction: column;
        gap: 45px;
        padding: 10px 80px;
    }
    .feature svg{
        height: 50px;
        width: 50px;
    
    }
    
    
    .feature-header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .feature-header-container p{
        font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(143, 143, 143, 1);
    }
    
    .header-1, .header-2{
        display: flex;
        gap: 21px;
        flex-direction: column;
        flex: 1;
    }
    
    .header-2{
        align-self: flex-end;
    }
    
    .header-1 h1{
        font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    
    .header-1 p{
        width: 60%;
    }
    
    
    .control-conbtainer{
        display: flex;
        gap: 16px;
    }
    
    .feature-list-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 11px;
        flex-wrap: wrap;
    }
    
    .feature{
        display: flex;
        flex-direction: column;
        gap: 22px;
        background-color:rgba(29, 78, 255, 0.3);
        padding: 30px 24px;
        width: 49.3%;
        border-radius: 10px;
        align-items: flex-start;
    }
    
    .feature h1{
        font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    
    .feature p {
        
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(83, 83, 83, 1);
    display: block;
    }
    
    .f2{
        background-color: rgba(21, 166, 36, 0.2);
    }
    
    .f3{
        background-color: rgba(185, 198, 35, 0.21);
    }
    
    
    .f4{
        background-color: rgba(29, 78, 255, 0.15);
    }
    
    
    .saving-container{
        display: flex;
        flex-direction: column;
        gap: 34px;
        padding: 10px 80px;
        position: relative;
        
    }
    
    .save-bg{
        left: -2%;
        z-index: -10;
        position: absolute;
        transform: translateY(-5%);
        display: block;
    }
    
    
    .header-label-green{
        background-color: rgba(14, 188, 41, 1);
        padding: 9px 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    align-self: start;
    border-radius: 19px;
    }
    
    
    .saving-desc-container{
        display: flex;
        flex-direction: row;
    }
    
    .saving-container .section-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }
    
    .saving-container .section-1 h1{
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    width: 382px;
    
    }
    
    .saving-container .section-1 img{
        width: 286px
    }
    
    .saving-container .section-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: end;
        width: 100%;
    }
    
    
    .saving-container .section-2 .div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .saving-card{
        padding: 55px 25px;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
        background-color: rgba(255, 255, 255, 1);
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        width: 257px;
        min-width: none;
        flex: none;
        max-width: initial;
    }
    
    .saving-card h1{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    white-space: wrap;
    
    }
    
    
    .saving-card p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
        color: rgba(83, 83, 83, 1);
    display: block;
    }
    
    
    
    
    .shop-container{
        display: flex;
        flex-direction: column;
        margin: 10px 80px;
        background-color: rgba(29, 78, 255, 0.15);
        border-radius: 47px;
        padding: 53px;
        gap: 135px;
    }
    
    
    .shop-header{
        display: flex;
        flex-direction: column;
        gap: 13px;
        width: 50%;
    }
    
    .shop-header h1{
        font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    
    .shop-header p{
        font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(143, 143, 143, 1);
    }
    
    
    .shop-header .link{
        color: rgba(29, 78, 255, 1);
        margin-top: 21px;
        font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    }
    
    
    .shop-container .shop-desc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 100%;
        border-radius: 84px;
    background: linear-gradient(90deg, #01030B 0%, #1D4EFF 100%);
    padding: 23px;
    height: initial;
    margin-top: 0;
    }
    
    .shop-container img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: initial;
        transform: scale(1);
        margin-top: 0;
    
    }
    
    .bg-desc-container{
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .bg-desc-container p {
        color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    
    
    .bitcon-container{
        display: flex;
        flex-direction: row;
        padding: 10px 80px;
        gap: 100px;
    
    }
    
    .bitcon-container img{
        width: 100%;
        flex-shrink: 0;
        flex: 1;
    }
    
    .bitcon-desc-container{
        display: flex;
        width: 100%;
        flex: 1;
        flex-direction: column;
        gap: 26px;
    }
    
    .bitcon-desc-sub{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
    .header-label-yellow{
        background-color: #EBD146;
        padding: 9px 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    align-self: start !important;
    border-radius: 19px;
    
    }
    
    
    .bitcon-header{
        display: flex;
        flex-direction: column;
        gap: 13px;
        align-self: start;
    
    }
    
    .bitcon-service svg{
        height: 54px;
        width:54px;
    }
    
    
    
    
    .bitcon-header h1{
        color: #000;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    }
    
    
    .bitcon-header p{
        color: #8F8F8F;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    }
    
    .bitcon-service-container{
        display: flex;
        flex-direction: column;
        gap: 31px;
    }
    
    
    .bitcon-service{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 22px;
    }
    
    .bitcon-desc{
        display: flex;
        flex-direction: column;
    }
    
    .bitcon-desc h1{
        color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    }
    
    
    .bitcon-desc p{
    
    
    color: #8F8F8F;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: block;
    line-height: normal;
    }
    
    
    
    
    .test-container{
        display: flex;
        flex-direction: column;
        padding: 10px 80px;
        gap: 42px;
    }
    
    
    .test-header{
        display: flex;
        flex-direction: column;
        gap: 21px;
        align-self: start;
        padding: 0;
    }
    
    .test-sub-header{
        display: flex;
        flex-direction: column;
        gap: 12px;
    
    }
    
    .test-sub-header h1{
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
    }
    
    
    .test-sub-header p {
        color: #8F8F8F;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
    }
    
    
    .test{
        display: flex;
        flex-direction: row;
        border-radius: 22px;
    background: #DDE5FF;
    overflow: hidden;
    gap: 58px;
    align-items: center;
    padding: 0;
    }
    
    .test img{
        width: 40%;
        border-radius: 0 !important;
    }
    
    .test-desc{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    
    }
    
    .test-desc > p{
        color: #535353;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 450px;
    text-align: left;
    }
    
    .test-desc .info{
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
    
    
    .name{
        color: #3F3F3F;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    
    .location{
        color: #3F3F3F;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    
    .location span{
        font-weight: 700;
    }
    
    .test .control-container{
        align-self: start;
    }
    
    .provider-container{
        display: flex;
        flex-direction: column;
        padding: 10px 80px;
        gap: 58px;
    }
    
    .provider-header{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
    }
    
    
    .provider-header h1{
        align-self: center;
    }
    
    .provider-header h1:nth-last-child(1){
        color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
    }
    
    .provider-container img{
        width: 100%;
    }
    
    
    .provider-header p {
        color: #B3B3B3;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    
    
    .get-container{
        display: flex;
        flex-direction: column;
        gap: 74px;
        padding: 10px 80px;
    }
    
    .get-desc-container{
        display: flex;
        flex-direction: row;
    }
    
    .get-image{
        width: 100%;
    }
    
    
    
    .get-desc{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .get-container img{
        width: 380px;
    }
    .step-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 75px;
    }
    
    .step{
        display: flex;
        flex-direction: column;
        gap: 17px;
        align-items: flex-start;
    }
    
    .step-content{
        display: flex;
        flex-direction: column;
    }
    
    .step-content h1{
        color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    }
    
    
    .step-content p {
        color: #8F8F8F;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    }
    
    
    
    .hub-container{
        margin: 80px 80px;
        height: 374px;
        border-radius: 22px;
    background: linear-gradient(100deg, #1D4EFF 0%, #0934A4 76.67%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: initial;
    padding: 0;
    }


    .hub-container >img{
    
    width: initial;
    transform: scale(1);
    }
    
    .hub-desc-container{
        display: flex;
        flex-direction: column;
        gap: 17px;
        align-items: flex-start;
    }
    
    .hub-header{
        display: flex;
        flex-direction: column;
        gap: 21px;
    }
    
    .header-label-no{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: left;
        padding: 9px 29px;
        border-radius: 19.5px;
    border: 1px solid #FFF;
        align-self: self-start;
        color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
    
    
    .hub-header h1{
        color: #FFF;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
    text-align: left;
    }
    
    .hub-desc {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }
    
    .hub-desc p {
        color: #FFF;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 296px;
    text-align: left;
    }
    
    
    
    .sub-footer{
        display: flex;
        flex-direction: column;
        gap: 82px;
        align-items: center;
    }
    
    .sub-footer h1{
        display: flex;
        color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 133.333% */
    }
    
    
    .sub-image{
        position: relative;
        width: 484px;
    height: 377px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
    }
    
    .sub-image-1{
    width: initial;
    }
    .bg-4{
        position: absolute;
        align-self: start;
        z-index: -1;
        transform: scale(1);
        width: initial;
        margin-top: 0px;
    }
    
    /* .sub-image-1{
        width: 100%;
    } */
    
    .footer{
    margin: 0 40px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
    padding: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    }
    
    
    .footer-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-1{
        display: flex;
        flex-direction: column;
        gap: 43px;
        width: 339px;
        align-items: flex-start;
    
    }
    
    
    
    .footer-header{
        display: flex;
        gap: 11px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    
    .footer-1 p{
        color: #535353;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    }
    
    .subscribe-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    
    .input-box{
        display: flex;
        flex-direction: row;
        border-radius: 21px;
    background: #FFF;
    padding: 0px;
    align-items: center;
    padding: 3px;
    justify-content: space-between;
    align-self: start;
    padding-left: 10px;
    gap: 8px;
    width: 100%;
    }
    
    .input-box .input{
        align-items: flex-start;
        padding: 0;
        align-items: center;
    }

    .input-box svg{
        flex-shrink: 0;
    }
    .input-box input {
        color: #B3B3B3;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
    background: none;
    border: none;
    width: 100%;
    }
    
    
    .input-box button{
        border-radius: 21px;
    background: #0934A4;
    padding: 7px 27px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    display: flex;
    }
    
    .footer-2{
        display: flex;
        flex-direction: row;
        gap: 120px;
        flex-wrap: nowrap;
    }
    
    .link-section{
        display: flex;
        gap: 20px;
        flex-direction: column;
        list-style: none;
        width: initial;
    }
    
    
    li{
        color: #B3B3B3;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    .header-link{
        color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    
    
    .footer-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer-footer div{
        gap: 16px;
        display: flex;
        flex-direction: row;
    }
    
    .footer-footer p{
        color: #0934A4;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .feature-indicator-mobile{
        display: none;
    }

    .shop-mobile{
        display: none;
    }

    .shop-desk{
        display: block;
    }

    .get-mobile{
        display: none;
    }

    .get-desk{
        display: block;
    }

}
































