
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.mobile-view-DgY {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 847.1rem;
  position: relative;

  .auto-group-bqly-5ik {
    width: 55.2rem;
    height: 78.6rem;
    position: absolute;
    left: 0;
    top: 690.7rem;

    .line-89-bBJ {
      position: absolute;
      left: 0;
      top: 1.764rem;
      object-fit: contain;
      vertical-align: top;
      width: 38.0756rem;
      height: 28.6765rem;
    }
    .mingcute-send-fill-vjN {
      left: 28.6rem;
      top: 4.7rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
    }
    .item--QPe {
      font-weight: 700;
      font-family: Nokora, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 1.6rem;
      left: 4.4595rem;
      top: 9.8992rem;
      font-size: 1.2rem;
      line-height: 1.32;
      color: rgba(21, 165, 35, 0.200000003);
      width: 1.1rem;
    }
    .ellipse-192-g6G {
      vertical-align: top;
      width: 1.3989rem;
      height: 1.3989rem;
      position: absolute;
      left: 10.2214rem;
      top: 13.7477rem;
      object-fit: contain;
    }
    .polygon-4-DM6 {
      top: 0.3725rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.6243rem;
      height: 1.3966rem;
      position: absolute;
      left: 10.2214rem;
    }
    .ri-p2p-line-jKS {
      opacity: 0.2;
      width: 1.0122rem;
      height: 1.0463rem;
      position: absolute;
      left: 35.7704rem;
      top: 8.9781rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ri-building-fill-oKJ {
      top: 4.7258rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 1.1165rem;
      height: 0.9924rem;
      position: absolute;
      left: 18.951rem;
    }
    .solar-tv-bold-duotone-WDi {
      position: absolute;
      left: 3.4829rem;
      top: 3.4822rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 0.6576rem;
      height: 0.6471rem;
    }
    .group-S7N {
      vertical-align: top;
      opacity: 0.2;
      width: 0.6132rem;
      height: 0.6247rem;
      position: absolute;
      left: 30.0656rem;
      top: 42.0344rem;
      object-fit: contain;
    }
    .ic-outline-signal-wifi-1-bar-Zxg {
      left: 37.6789rem;
      top: 0.4967rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 1.8309rem;
      height: 1.6949rem;
      position: absolute;
    }
    .rectangle-244-5g8 {
      left: 17.513rem;
      top: 12.9171rem;
      background-color: rgba(0, 46, 166, 0.200000003);
      border-radius: 4rem;
      width: 7.8311rem;
      height: 7.8311rem;
      position: absolute;
    }
    .group-243-m3A {
      height: 3.8672rem;
      position: absolute;
      left: 19.5433rem;
      top: 14.9251rem;
      background-color: #ffffff;
      border-radius: 5rem 77rem 77rem 77rem;
      opacity: 0.2;
      width: 3.8672rem;

      .rectangle-144-Twa {
        top: 1.0161rem;
        background-color: #0834a4;
        border-radius: 10rem 65.9rem 65.9rem 24.45rem;
        width: 1.8349rem;
        height: 1.8349rem;
        position: absolute;
        left: 1.0161rem;
      }
      .rectangle-145-yf2 {
        width: 0.5981rem;
        height: 0.5981rem;
        position: absolute;
        left: 1.6346rem;
        top: 1.6347rem;
        background-color: #ffffff;
        border-radius: 10rem 65.9rem 65.9rem 10rem;
      }
      .rectangle-146-6Uk {
        top: 1.8648rem;
        background-color: #0834a4;
        width: 1.102rem;
        height: 0.7349rem;
        position: absolute;
        left: 0.376rem;
      }
    }
    .ellipse-193-R1E {
      object-fit: contain;
      vertical-align: top;
      width: 1.4rem;
      height: 1.5rem;
      position: absolute;
      left: 29.6rem;
      top: 13.2rem;
    }
    .ellipse-194-8RS {
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:cffd9d649b3f8ffdc2ffc1d6531195a8f87b530d');
      height: 2.3rem;
      position: absolute;
      left: 9.8rem;
      box-shadow: 0 0 2.5rem rgba(28, 78, 255, 0.0299999993);
      border-radius: 1.15rem;
      width: 2.3rem;
      top: 0;
      background-repeat: no-repeat;
      background-position: center;
    }
    .ellipse-195-nF6 {
      height: 2.8209rem;
      position: absolute;
      left: 9.9647rem;
      top: 13.3988rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.8209rem;
    }
    .rectangle-244-8Jx {
      height: 62.5rem;
      position: absolute;
      left: 0;
      top: 16.1rem;
      background: linear-gradient(102.6deg, #1c4eff 0%, #0834a4 83.1%);
      border-radius: 5.5rem;
      width: 43rem;
    }
    .image-7-3gp {
      top: 22.3rem;
      background-size: 101.871% 138.286%;
      background-position: -0.9222rem -3.5155rem;
      background-image: url('REPLACE_IMAGE:67e592219087db24c9eda124455302d86750493c');
      width: 49.3rem;
      height: 31.1rem;
      position: relative;
      left: 0;
    }
    .group-235-2-xHz {
      vertical-align: top;
      width: 15.584rem;
      height: 20.1318rem;
      position: absolute;
      left: 13.9rem;
      top: 22.6rem;
      object-fit: contain;
    }
    .iphone-13-pro-4M2 {
      background-size: 346.995% 227.518%;
      background-position: -19.816rem -6.8406rem;
      background-image: url('REPLACE_IMAGE:ed4457f32161af03eab1e2dabcab3882785221e8');
      width: 28.8rem;
      height: 32.9rem;
      position: relative;
      left: 7.1rem;
      top: 45.7rem;
    }
  }
  .ellipse-191-jTA {
    position: absolute;
    left: 27.6659rem;
    top: 686.911rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.313rem;
    height: 2.313rem;
  }
  .auto-group-s8vj-spG {
    padding: 3.8rem 2rem 7.631rem 2.1rem;
    width: 43rem;
    height: 47.1313rem;
    left: 0;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    align-items: center;
    flex-direction: column;

    .auto-group-5rr4-Zh6 {
      flex-shrink: 0;
      margin-bottom: 8.4791rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .group-234-1-tzG {
        width: 11.0795rem;
        height: 2.3721rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.049rem 24.421rem 0rem 0rem;
      }
      .auto-group-xnoe-aMJ {
        width: 3.4rem;
        height: 1.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-seex-hB2 {
      width: calc(100% - 9.5117rem);
      height: 11.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0.312rem 5rem 9.2rem;

      .auto-group-au4q-con {
        width: 20.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .payment-made-Nnx {
          height: 3.5rem;
          font-weight: 700;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          width: 18.8rem;
          position: absolute;
          left: 0.8rem;
          top: 0;
          font-size: 2.5rem;
          line-height: 1.3625;
          white-space: nowrap;
        }
        .simple-6DA {
          top: 3.4rem;
          text-align: right;
          font-family: Open Sans, 'Source Sans Pro';
          height: 8.2rem;
          position: absolute;
          left: 0;
          line-height: 1.3625;
          white-space: nowrap;
          width: 20.3rem;
          font-size: 6rem;
          font-weight: 700;
        }
      }
      .auto-group-4qcx-CGC {
        box-sizing: border-box;
        padding: 3rem 0rem 5.712rem 6.2rem;
        height: 100%;
        border-left: solid 0.2rem #0834a4;
        flex-shrink: 0;

        .ellipse-3-XJU {
          vertical-align: top;
          width: 2.8882rem;
          height: 2.8882rem;
          object-fit: contain;
        }
      }
    }
    .download-now-ett {
      margin: 0rem 0.2rem 2.8rem 0rem;
      font-size: 1rem;
      color: #3e3e3e;
      text-align: center;
      font-weight: 400;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .image-7-YDa {
      margin-right: 0.2rem;
      width: 28.1rem;
      height: 4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-qy7n-t2Y {
    width: 57.6rem;
    height: 39.8688rem;
    position: absolute;
    left: 0;
    top: 47.1313rem;

    .ellipse-191-cz8 {
      object-fit: contain;
      vertical-align: top;
      width: 4.7548rem;
      height: 4.7548rem;
      position: absolute;
      left: 1.9508rem;
      top: 0;
    }
    .ellipse-191-wmW {
      height: 21.3rem;
      position: absolute;
      left: 15rem;
      top: 13.7688rem;
      filter: blur(20rem);
      background: linear-gradient(150.76deg, rgba(28, 78, 255, 0.8000000119) 12.22%, rgba(8, 52, 164, 0.8000000119) 99.78%);
      border-radius: 10.65rem;
      width: 21.3rem;
    }
    .ellipse-192-pKW {
      position: absolute;
      left: 13.4rem;
      top: 10.5688rem;
      object-fit: contain;
      vertical-align: top;
      width: 24.7rem;
      height: 24.5rem;
    }
    .iphone-15-pro-LYk {
      background-size: 100% 120.334%;
      background-position: 0 -5.35rem;
      background-image: url('REPLACE_IMAGE:1aa83db3de952210d7f747522ae3bc2f8d7d0cd5');
      width: 57.6rem;
      height: 35.9rem;
      position: relative;
      left: 0;
      top: 3.9688rem;
    }
  }
  .ellipse-191-Sbn {
    object-fit: contain;
    vertical-align: top;
    width: 8.3021rem;
    height: 8.3021rem;
    position: absolute;
    left: 37.1rem;
    top: 87rem;
  }
  .discover-a-revolutionary-way-to-manage-your-finances-with-paydex-streamline-your-transactions-send-and-receive-money-effortlessly-pay-bills-seamlessly-and-explore-the-world-of-cryptocurrencyall-in-one-powerful-app-y5v {
    width: 38.2rem;
    height: 6.6rem;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    left: 2.35rem;
    top: 101rem;
    font-weight: 400;
    line-height: 1.3625;
    color: #b3b3b3;
    font-family: Open Sans, 'Source Sans Pro';
  }
  .send-receive-z12 {
    top: 112.6rem;
    text-align: center;
    line-height: 1.3625;
    font-family: Open Sans, 'Source Sans Pro';
    position: absolute;
    height: 16.4rem;
    left: 9.95rem;
    font-size: 6rem;
    font-weight: 700;
    width: 23rem;
  }
  .auto-group-echz-bmW {
    box-sizing: border-box;
    width: 43rem;
    left: 0;
    flex-direction: column;
    display: flex;
    padding: 1.2rem 3.1rem 7.7rem 3rem;
    height: 44.8rem;
    position: absolute;
    top: 141rem;
    align-items: center;

    .auto-group-ucll-tEp {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.6rem 0.2rem 11.3rem;
      width: calc(100% - 23.9rem);
      height: 6.3rem;
      display: flex;

      .auto-group-yr6c-NQt {
        height: calc(100% - 4.6rem);
        position: relative;
        flex-shrink: 0;
        margin: 1.9rem 3.2rem 2.7rem 0rem;
        width: 1.4rem;

        .ellipse-194-6Lt {
          object-fit: contain;
          vertical-align: top;
          width: 1.1rem;
          height: 1.2rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .item--RPA {
          position: absolute;
          line-height: 1.32;
          color: #15a523;
          font-family: Nokora, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          width: 1.1rem;
          height: 1.6rem;
          left: 0.3rem;
          top: 0.1rem;
          font-size: 1.2rem;
        }
      }
      .auto-group-vxse-KjS {
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 2.7rem 2.6rem 0rem 0rem;
        width: 3.5rem;
      }
      .auto-group-btkt-qSt {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 2.3rem;
        height: 2.3rem;
        object-fit: contain;
      }
    }
    .auto-group-l9wi-NSp {
      margin: 0rem 9rem 7.7rem 8.3rem;
      width: calc(100% - 17.3rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ellipse-191-6tc {
        margin: 1.2rem 2.761rem 0rem 0rem;
        width: 6.6rem;
        height: 6.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .iconamoon-lightning-1-CAx {
        margin: 1.081rem 2.35rem 0rem 0rem;
        width: 0.7888rem;
        height: 1.0231rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-195-tJg {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 7.1rem;
        height: 7.2rem;
        object-fit: contain;
      }
    }
    .experience-seamless-transactions-where-sending-funds-to-friends-family-or-businesses-becomes-effortless-and-receiving-money-is-equally-swift-and-secure-2fn {
      color: #b3b3b3;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.3625;
      max-width: 36.9rem;
      font-size: 1.2rem;
    }
    .auto-group-dqcg-6Qk {
      font-family: Open Sans, 'Source Sans Pro';
      display: flex;
      background-color: #0834a4;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      flex-shrink: 0;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      border: solid 0.1rem #0834a4;
      margin: 0rem 11.6rem 0rem 11.7rem;
      height: 5rem;
      line-height: 1.3625;
      width: calc(100% - 23.3rem);
      box-sizing: border-box;
      border-radius: 1.1rem;
    }
  }
  .ellipse-192-6p4 {
    width: 5.7rem;
    height: 5.8rem;
    position: absolute;
    left: 17.6rem;
    top: 135.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-tuly-1w2 {
    padding: 10.1rem 2.287rem 8.3rem 2.9rem;
    width: 43rem;
    left: 0;
    background-color: #eff3ff;
    box-sizing: border-box;
    height: 107.3rem;
    position: absolute;
    top: 185.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .utility-bill-payments-Wsn {
      margin: 0rem 0.713rem 0.6rem 0rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 700;
      color: #0834a4;
      flex-shrink: 0;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .made-easy-pda {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.613rem 2.9rem 0rem;
      text-align: center;
      font-size: 6rem;
      font-weight: 700;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .paydex-allows-you-to-effortlessly-handle-your-utility-bill-payments-making-the-process-convenient-and-stress-free-Z5N {
      text-align: center;
      font-weight: 400;
      line-height: 1.3625;
      flex-shrink: 0;
      margin: 0rem 0.613rem 4.3rem 0rem;
      font-size: 1.2rem;
      color: #b3b3b3;
      font-family: Open Sans, 'Source Sans Pro';
      max-width: 37.2rem;
    }
    .download-now-okQ {
      color: #b3b3b3;
      flex-shrink: 0;
      margin: 0rem 0.713rem 1.7rem 0rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-xs4q-tmr {
      margin: 0rem 13.813rem 7.305rem 13.2rem;
      width: calc(100% - 27.0128rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-4ynl-qBJ {
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 5rem;
        height: 4.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-expr-MvL {
        height: 4.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 5rem;
      }
    }
    .group-240-1-ugx {
      margin: 0rem 0.713rem 1.101rem 0rem;
      width: 5.2894rem;
      height: 4.9891rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-x3d6-bpg {
      margin-left: 1.3588rem;
      width: 36.4539rem;
      height: 44.4049rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-244-YV2 {
        height: 34.4rem;
        position: absolute;
        left: 15.0412rem;
        top: 1.9049rem;
        filter: blur(5rem);
        background-color: rgba(28, 78, 255, 0.1299999952);
        width: 15.9rem;
      }
      .iphone-14-15-pro-max-39-2-czg {
        object-fit: cover;
        vertical-align: top;
        width: 15.1rem;
        height: 32.8rem;
        position: absolute;
        left: 15.0412rem;
        top: 4.2049rem;
      }
      .rectangle-245-kLC {
        filter: blur(5rem);
        background-color: rgba(28, 78, 255, 0.1299999952);
        width: 18.5rem;
        height: 37.6rem;
        position: absolute;
        left: 3.4412rem;
        top: 6.8049rem;
      }
      .iphone-14-15-pro-max-80-2-Umz {
        left: 5.0412rem;
        top: 8.0049rem;
        object-fit: cover;
        vertical-align: top;
        width: 15.8rem;
        height: 34.2rem;
        position: absolute;
      }
      .group-238-1-b5v {
        position: absolute;
        left: 0;
        top: 3.9541rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.5824rem;
        height: 3.4016rem;
      }
      .group-239-1-jT2 {
        left: 32.4284rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 4.0255rem;
        height: 3.8098rem;
        position: absolute;
      }
      .group-241-1-rGk {
        vertical-align: top;
        width: 12.8432rem;
        height: 3.2663rem;
        position: absolute;
        left: 23.2195rem;
        top: 24.5718rem;
        object-fit: contain;
      }
    }
  }
  .discover-more-BK2 {
    height: 6.2rem;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3625;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 33.5rem;
    position: absolute;
    left: 4.75rem;
    top: 301rem;
  }
  .group-242-1-4tc {
    width: 22.1074rem;
    height: 30.1rem;
    position: absolute;
    left: 10.5506rem;
    top: 314.7rem;
    object-fit: contain;
    vertical-align: top;
  }
  .paydex-app-goes-beyond-money-management-offering-flight-booking-invoicing-solutions-virtual-card-and-secure-bitcoin-services-all-in-one-place-orC {
    line-height: 1.3625;
    color: #b3b3b3;
    width: 34.3rem;
    height: 5rem;
    position: absolute;
    top: 351.6rem;
    font-size: 1.2rem;
    font-weight: 400;
    left: 4.3rem;
    text-align: center;
    font-family: Open Sans, 'Source Sans Pro';
  }
  .mingcute-check-2-fill-Tvk {
    position: absolute;
    left: 20.3rem;
    top: 360.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
  }
  .mingcute-check-2-fill-zvg {
    left: 20.3rem;
    top: 369.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
  }
  .mingcute-check-2-fill-irg {
    top: 378.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 20.3rem;
  }
  .mingcute-check-2-fill-SXn {
    top: 387.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 20.3rem;
  }
  .book-flights-hassle-free-within-our-app-y1v {
    font-weight: 600;
    color: #0834a4;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    line-height: 1.3625;
    width: 26.5rem;
    height: 2rem;
    position: absolute;
    left: 8.2rem;
    top: 364rem;
    text-align: center;
    font-size: 1.4rem;
  }
  .generate-and-share-invoice-links-swiftly-3nU {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3625;
    color: #0834a4;
    font-family: Open Sans, 'Source Sans Pro';
    height: 2rem;
    position: absolute;
    top: 373.1rem;
    white-space: nowrap;
    width: 27.3rem;
    left: 7.8rem;
    text-align: center;
  }
  .create-and-manage-virtual-cards-x8k {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3625;
    width: 22rem;
    height: 2rem;
    position: absolute;
    left: 10.5rem;
    text-align: center;
    color: #0834a4;
    white-space: nowrap;
    top: 382.2rem;
    font-family: Open Sans, 'Source Sans Pro';
  }
  .manage-bitcoin-transactions-effortlessly-cj6 {
    width: 27.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #0834a4;
    font-family: Open Sans, 'Source Sans Pro';
    height: 2rem;
    position: absolute;
    left: 7.7rem;
    top: 391.3rem;
    text-align: center;
    line-height: 1.3625;
    white-space: nowrap;
  }
  .auto-group-dhfr-j32 {
    top: 404.4rem;
    width: 73.5081rem;
    height: 90.3595rem;
    position: absolute;
    left: 0;

    .rectangle-244-1mE {
      width: 42.8rem;
      height: 66.8rem;
      position: absolute;
      left: 0.1rem;
      top: 0;
      background: linear-gradient(117.73deg, #1c4eff -0%, #0834a4 67.23%);
      border-radius: 5.3rem;
    }
    .image-7-hPA {
      position: absolute;
      left: 0.1rem;
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 42.8rem;
      height: 32.1rem;
    }
    .rectangle-244-Ett {
      top: 28.3rem;
      box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
      background-color: #ffffff;
      border-radius: 2rem;
      width: 18.3rem;
      height: 12.6rem;
      position: absolute;
      left: 1.8rem;
    }
    .rectangle-250-k6Y {
      height: 12.6rem;
      position: absolute;
      left: 1.8rem;
      top: 44rem;
      box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
      background-color: #ffffff;
      border-radius: 2rem;
      width: 18.3rem;
    }
    .rectangle-252-4d2 {
      left: 1.8rem;
      top: 59.7rem;
      box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
      background-color: #ffffff;
      border-radius: 2rem;
      width: 18.3rem;
      height: 12.6rem;
      position: absolute;
    }
    .rectangle-249-yV6 {
      top: 28.3rem;
      box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
      background-color: #ffffff;
      border-radius: 2rem;
      width: 18.3rem;
      height: 12.6rem;
      position: absolute;
      left: 22.9rem;
    }
    .rectangle-251-VyE {
      top: 44rem;
      box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
      background-color: #ffffff;
      border-radius: 2rem;
      width: 18.3rem;
      height: 12.6rem;
      position: absolute;
      left: 22.9rem;
    }
    .rectangle-253-ER2 {
      height: 12.6rem;
      position: absolute;
      left: 22.9rem;
      top: 59.7rem;
      box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
      background-color: #ffffff;
      border-radius: 2rem;
      width: 18.3rem;
    }
    .your-all-in-one-financial-hub-xrp {
      text-align: center;
      font-size: 5rem;
      font-weight: 700;
      line-height: 1.3625;
      color: #ffffff;
      width: 28.5rem;
      left: 7.2rem;
      top: 3.2rem;
      font-family: Open Sans, 'Source Sans Pro';
      height: 13rem;
      position: absolute;

      .your-all-in-one-financial-hub-xrp-sub-0 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .your-all-in-one-financial-hub-xrp-sub-1 {
      }
      .your-all-in-one-financial-hub-xrp-sub-2 {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .paydex-app-isnt-just-about-money-transfers-its-your-comprehensive-solution-for-a-wide-range-of-financial-needs-with-paydex-you-can--t1i {
      line-height: 1.3625;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      left: 4.85rem;
      font-weight: 400;
      position: absolute;
      top: 18.1rem;
      text-align: center;
      font-size: 1.2rem;
      width: 33.3rem;
      height: 5rem;
    }
    .rectangle-244-iWY {
      background-color: #0834a4;
      border-radius: 1rem;
      width: 4.1rem;
      height: 3.9rem;
      position: absolute;
      left: 8.9rem;
      top: 30.7rem;
    }
    .mingcute-send-fill-TDE {
      width: 1.9rem;
      height: 2.1rem;
      position: absolute;
      left: 10rem;
      top: 31.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-244-Pcg {
      background-color: rgba(28, 78, 255, 0.1274999976);
      border-radius: 1rem;
      width: 4.1rem;
      height: 3.9rem;
      position: absolute;
      left: 30rem;
      top: 30.7rem;
    }
    .vector-72t {
      height: 2rem;
      position: absolute;
      left: 31rem;
      top: 31.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .rectangle-244-pCC {
      border-radius: 1rem;
      width: 4.1rem;
      height: 3.9rem;
      position: absolute;
      left: 8.9rem;
      top: 46.3rem;
      background-color: rgba(36, 179, 241, 0.25);
    }
    .ic-outline-signal-wifi-1-bar-LgL {
      object-fit: contain;
      vertical-align: top;
      width: 1.94rem;
      height: 1.5417rem;
      position: absolute;
      left: 10.03rem;
      top: 47.55rem;
    }
    .rectangle-244-SjN {
      background-color: rgba(198, 202, 19, 0.25);
      border-radius: 1rem;
      width: 4.1rem;
      height: 3.9rem;
      position: absolute;
      left: 30rem;
      top: 46.3rem;
    }
    .healthicons-electricity-Nsv {
      width: 1.225rem;
      height: 1.6667rem;
      position: absolute;
      left: 31.4375rem;
      top: 47.4667rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-244-URA {
      background-color: rgba(82, 82, 82, 0.25);
      border-radius: 1rem;
      width: 4.1rem;
      height: 3.8rem;
      position: absolute;
      left: 8.9rem;
      top: 62.2rem;
    }
    .solar-tv-bold-duotone-BaU {
      width: 1.6667rem;
      height: 1.6459rem;
      position: absolute;
      left: 10.1667rem;
      top: 63.2875rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-244-JQC {
      width: 4.1rem;
      height: 3.8rem;
      position: absolute;
      left: 30rem;
      top: 62.2rem;
      background-color: rgba(103, 235, 70, 0.2275000066);
      border-radius: 1rem;
    }
    .group-243-pNY {
      height: 2.0267rem;
      top: 63.1121rem;
      align-items: center;
      border-radius: 0.3rem;
      width: 2.0267rem;
      position: absolute;
      left: 31.0133rem;
      display: flex;
      flex-direction: column;

      .auto-group-vhbj-wxx {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.2533rem;

        .rectangle-218-Uxt {
          margin-right: 0.2533rem;
          width: 0.8867rem;
          height: 0.8867rem;
          background-color: #15a523;
          border-radius: 0.3rem;
          flex-shrink: 0;
        }
        .rectangle-219-pWx {
          width: 0.8867rem;
          height: 0.8867rem;
          background-color: #15a523;
          border-radius: 0.3rem;
          flex-shrink: 0;
        }
      }
      .auto-group-tpr8-wrU {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-220-Jh2 {
          background-color: #15a523;
          border-radius: 0.3rem;
          flex-shrink: 0;
          margin-right: 0.2533rem;
          width: 0.8867rem;
          height: 0.8867rem;
        }
        .rectangle-221-rTe {
          background-color: #15a523;
          border-radius: 0.3rem;
          flex-shrink: 0;
          width: 0.8867rem;
          height: 0.8867rem;
        }
      }
    }
    .send-and-receive-money-yoA {
      position: absolute;
      top: 36rem;
      text-align: center;
      line-height: 1.3625;
      color: #000000;
      height: 1.7rem;
      left: 3.8rem;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.4rem;
    }
    .top-up-airtime-J4k {
      left: 27.7rem;
      top: 36rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.6rem;
      height: 1.7rem;
      position: absolute;
      line-height: 1.3625;
      color: #000000;
    }
    .buy-data-zTN {
      height: 1.7rem;
      position: absolute;
      text-align: center;
      font-size: 1.2rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      width: 5.3rem;
      top: 51.6rem;
      font-weight: 600;
      line-height: 1.3625;
      white-space: nowrap;
      left: 8.3rem;
    }
    .electricity-bills-6WQ {
      left: 27.8rem;
      text-align: center;
      font-size: 1.2rem;
      white-space: nowrap;
      width: 8.4rem;
      position: absolute;
      font-weight: 600;
      line-height: 1.3625;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      height: 1.7rem;
      top: 51.6rem;
    }
    .cable-tv-subscription-pSQ {
      height: 1.7rem;
      position: absolute;
      font-weight: 600;
      line-height: 1.3625;
      color: #000000;
      white-space: nowrap;
      width: 12.7rem;
      left: 4.7rem;
      top: 67.4rem;
      text-align: center;
      font-size: 1.2rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .more-hm6 {
      white-space: nowrap;
      font-size: 1.2rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      left: 30.1rem;
      top: 67.4rem;
      text-align: center;
      font-weight: 600;
      line-height: 1.3625;
      width: 4.1rem;
      height: 1.7rem;
      position: absolute;
    }
    .line-89-xS8 {
      height: 19.0341rem;
      position: absolute;
      left: 0;
      top: 71.3254rem;
      object-fit: contain;
      vertical-align: top;
      width: 73.5081rem;
    }
  }
  .join-community-of-users-who-are-already-using-paydex-6YL {
    left: 2.8rem;
    font-size: 2.5rem;
    color: #0834a4;
    font-family: Open Sans, 'Source Sans Pro';
    line-height: 1.3625;
    width: 37.3rem;
    height: 6.9rem;
    position: absolute;
    top: 501.2rem;
    text-align: center;
    font-weight: 700;
  }
  .auto-group-9snl-ys2 {
    height: 144rem;
    position: absolute;
    left: 0;
    top: 508.1rem;
    width: 43rem;

    .auto-group-cgwx-5v4 {
      height: 8.7rem;
      position: absolute;
      left: 3.4rem;
      top: 13.1rem;
      display: flex;
      align-items: flex-end;
      width: 36.2rem;

      .ellipse-196-pMr {
        margin: 0rem 11.1rem 1.8rem 0rem;
        width: 2.7rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1.35rem;
        height: 2.7rem;
        box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
        background-image: url('REPLACE_IMAGE:209c55ace5a63fc498df70dfdbc5789abad4edd9');
        flex-shrink: 0;
      }
      .auto-group-9ewn-Jnp {
        margin: 0rem 10.3rem 0.4rem 0rem;
        width: 8.5rem;
        height: 8.3rem;
        position: relative;
        flex-shrink: 0;

        .ellipse-191-S8L {
          vertical-align: top;
          width: 6.7rem;
          height: 6.8rem;
          position: absolute;
          left: 0.9rem;
          top: 0.7rem;
          object-fit: contain;
        }
        .ellipse-192-ye4 {
          object-fit: contain;
          vertical-align: top;
          width: 8.5rem;
          height: 8.3rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .ellipse-193-uGp {
        background-image: url('REPLACE_IMAGE:0b69bd8c4b3fef1ceadcf0cf4692fef70f03058e');
        width: 3.6rem;
        height: 3.6rem;
        box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 1.8rem;
        flex-shrink: 0;
      }
    }
    .auto-group-ekv8-bvL {
      top: 22.4rem;
      display: flex;
      align-items: center;
      width: 32.2682rem;
      height: 7.6rem;
      position: absolute;
      left: 5.6318rem;

      .ellipse-199-1jA {
        margin: 2.413rem 3.264rem 0rem 0rem;
        width: 2.9042rem;
        height: 2.9042rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-197-YDJ {
        width: 3.9rem;
        background-position: center;
        margin: 0rem 11.1rem 2.7rem 0rem;
        box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:aa3d9ac996f9a71bb02cac1362ad086a73093652');
        border-radius: 1.95rem;
        flex-shrink: 0;
        height: 3.9rem;
      }
      .ellipse-194-e1S {
        width: 2.7rem;
        height: 2.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.5rem 5rem 0rem;
      }
      .ellipse-198-ZPJ {
        border-radius: 1.95rem;
        flex-shrink: 0;
        margin-top: 3.7rem;
        width: 3.9rem;
        height: 3.9rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
        background-image: url('REPLACE_IMAGE:7e8e1426224bd8a4e9c60e13655259a49e9fcde2');
      }
    }
    .auto-group-av8u-BvU {
      align-items: flex-start;
      width: 22.6rem;
      height: 4.4rem;
      position: absolute;
      left: 9.9rem;
      top: 7.9rem;
      display: flex;

      .ellipse-195-vdA {
        box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
        background-size: 100% 100%;
        border-radius: 1.8rem;
        flex-shrink: 0;
        background-image: url('REPLACE_IMAGE:013230f32931f8db4232f1999a80be212d322ccc');
        margin-right: 15.3rem;
        width: 3.6rem;
        height: 3.6rem;
        background-repeat: no-repeat;
        background-position: center;
      }
      .ellipse-200-qEL {
        box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:b6f284e8a23d252d446f6bb403eadb756c73be80');
        border-radius: 1.85rem;
        flex-shrink: 0;
        width: 3.7rem;
        height: 3.7rem;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 0.7rem;
      }
    }
    .i-love-using-this-paydex-app-its-so-convenient-and-user-friendly-i-can-easily-transfer-funds-pay-bills-and-keep-track-of-my-account-balance-on-the-go-MCg {
      font-weight: 400;
      color: #b3b3b3;
      position: absolute;
      top: 35rem;
      left: 3.35rem;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      width: 36.3rem;
      height: 5rem;
    }
    .christiana-BBi {
      left: 18.3rem;
      font-size: 1.2rem;
      line-height: 1.3625;
      color: #3e3e3e;
      width: 6.2rem;
      position: absolute;
      top: 44rem;
      text-align: center;
      font-weight: 700;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
    }
    .paydex-user-nigeria-d3i {
      height: 1.4rem;
      position: absolute;
      font-size: 1rem;
      left: 16.2rem;
      top: 46.2rem;
      display: flex;
      align-items: baseline;
      width: 10.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.439453125;
      color: #3e3e3e;
      white-space: nowrap;
      font-family: Istok Web, 'Source Sans Pro';

      .paydex-user-nigeria-d3i-sub-0 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #3e3e3e;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .paydex-user-nigeria-d3i-sub-1 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #3e3e3e;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .auto-group-cuak-zRz {
      top: 50.2rem;
      display: flex;
      column-gap: 0.7rem;
      align-items: center;
      width: 6.8rem;
      height: 0.8rem;
      position: absolute;
      left: 18.1rem;

      .ellipse-191-WQL {
        background-color: #efefef;
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 0.8rem;
        height: 0.8rem;
      }
      .ellipse-192-Fcp {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #efefef;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
      .ellipse-193-bgg {
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #0834a4;
      }
      .ellipse-194-HZW {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #efefef;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
      .ellipse-195-crg {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #efefef;
        border-radius: 0.4rem;
        flex-shrink: 0;
      }
    }
    .auto-group-pe6y-yBS {
      height: 9.5rem;
      position: absolute;
      left: 12.2rem;
      top: 62.1rem;
      width: 18.3rem;

      .paydex-JzQ {
        width: 18.3rem;
        left: 0;
        font-size: 6rem;
        font-weight: 400;
        font-family: Otomanopee One, 'Source Sans Pro';
        white-space: nowrap;
        height: 7.6rem;
        position: absolute;
        top: 1.9rem;
        text-align: center;
        line-height: 1.2575;
      }
      .get-started-with-qUY {
        font-family: Open Sans, 'Source Sans Pro';
        height: 2.5rem;
        left: 1.75rem;
        top: 0;
        text-align: center;
        font-weight: 700;
        color: #000000;
        width: 15rem;
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.3625;
        white-space: nowrap;
      }
    }
    .auto-group-j2hj-MSt {
      left: 4.1rem;
      top: 80rem;
      display: flex;
      align-items: center;
      width: 24.8rem;
      height: 5.8rem;
      position: absolute;

      .auto-group-52gc-gzx {
        margin: 0.5rem 1.3rem 0.9rem 0rem;
        font-weight: 700;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        flex-shrink: 0;
        font-size: 2rem;
        background-color: rgba(28, 78, 255, 0.150000006);
        width: 4.4rem;
        height: calc(100% - 1.4rem);
        text-align: center;
        line-height: 1.3625;
        white-space: nowrap;
      }
      .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636 {
        font-weight: 400;
        line-height: 1.3618164062;
        color: #b3b3b3;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 19.1rem;
        font-size: 1.2rem;

        .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636-sub-0 {
          color: #0834a4;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3625;
        }
        .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636-sub-1 {
          font-weight: 400;
          line-height: 1.3625;
          color: #b3b3b3;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1rem;
        }
      }
    }
    .auto-group-7mtz-hh6 {
      left: 4.1rem;
      top: 90.3rem;
      display: flex;
      align-items: center;
      width: 36.7rem;
      height: 24.4rem;
      position: absolute;

      .auto-group-8gua-1Bz {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 1.5rem 1.2rem 0rem;
        width: 13.2rem;
        height: 23.2rem;

        .ellipse-191-Xw2 {
          object-fit: contain;
          vertical-align: top;
          width: 9.7rem;
          height: 9.8rem;
          position: absolute;
          left: 1.3rem;
          top: 7rem;
        }
        .ellipse-192-2ct {
          top: 4.9rem;
          object-fit: contain;
          vertical-align: top;
          width: 13rem;
          height: 14.4rem;
          position: absolute;
          left: 0.2rem;
        }
        .iphone-13-pro-maU {
          top: 0;
          background-size: 316.266% 126.999%;
          background-position: -7.8391rem -2.6926rem;
          background-image: url('REPLACE_IMAGE:ed4457f32161af03eab1e2dabcab3882785221e8');
          width: 12.5rem;
          height: 23.2rem;
          position: relative;
          left: 0;
        }
      }
      .auto-group-12iy-TTJ {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.1rem 1.4rem 2.2rem 0rem;
        height: calc(100% - 4.3rem);
        align-items: center;

        .auto-group-qnbv-yRe {
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          background-color: rgba(28, 78, 255, 0.150000006);
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 0.1rem 11.3rem 0rem;
          height: 4.4rem;
          color: #0834a4;
          width: 4.4rem;
          text-align: center;
          font-weight: 700;
          white-space: nowrap;
          display: flex;
        }
        .auto-group-dlz8-czQ {
          width: 4.4rem;
          text-align: center;
          display: flex;
          background-color: rgba(28, 78, 255, 0.150000006);
          height: 4.4rem;
          font-size: 2rem;
          font-weight: 700;
          color: #0834a4;
          justify-content: center;
          margin-left: 0.1rem;
          white-space: nowrap;
          border-radius: 1rem;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
        }
      }
      .auto-group-atex-qcG {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4 {
          max-width: 16.1rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3618164062;
          color: #b3b3b3;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 8.6rem;

          .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4-sub-0 {
            font-weight: 600;
            line-height: 1.3625;
            color: #0834a4;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.2rem;
          }
          .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4-sub-1 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3625;
            color: #b3b3b3;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v {
          font-weight: 400;
          line-height: 1.3618164062;
          color: #b3b3b3;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 14.6rem;
          font-size: 1.2rem;

          .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v-sub-0 {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.3625;
            color: #0834a4;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v-sub-1 {
            color: #b3b3b3;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.3625;
          }
        }
      }
    }
    .auto-group-fxoi-wUG {
      width: 25rem;
      height: 5.8rem;
      position: absolute;
      left: 4.1rem;
      top: 120.1rem;
      display: flex;
      align-items: flex-start;

      .auto-group-2yd2-54g {
        margin-right: 1.3rem;
        align-items: center;
        justify-content: center;
        background-color: rgba(28, 78, 255, 0.150000006);
        white-space: nowrap;
        display: flex;
        height: 4.4rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        color: #0834a4;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 4.4rem;
        font-size: 2rem;
      }
      .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt {
        font-weight: 400;
        line-height: 1.3618164062;
        color: #b3b3b3;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 19.3rem;
        font-size: 1.2rem;

        .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt-sub-0 {
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #0834a4;
        }
        .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt-sub-1 {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.3625;
          color: #b3b3b3;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .start-using-paydex-app-following-these-4-simple-steps-Pd6 {
      height: 1.7rem;
      top: 135.3rem;
      font-weight: 400;
      line-height: 1.3625;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      width: 30.7rem;
      position: absolute;
      left: 6.15rem;
      text-align: center;
      font-size: 1.2rem;
      color: #b3b3b3;
    }
  }
  .auto-group-a5tr-fKi {
    box-sizing: border-box;
    top: 652.1rem;
    display: flex;
    background-color: #eff3ff;
    padding: 6.3rem 0rem 6.4rem 0rem;
    width: 49.6rem;
    height: 30.6rem;
    position: absolute;
    left: 0;
    align-items: center;
    flex-direction: column;

    .with-40-service-provider-available-on-paydex-vmS {
      font-family: Open Sans, 'Source Sans Pro';
      display: flex;
      margin-bottom: 5.7rem;
      text-align: center;
      font-size: 10rem;
      font-weight: 700;
      line-height: 1.3618164062;
      color: #000000;
      flex-shrink: 0;
      white-space: nowrap;
      align-items: baseline;

      .with-40-service-provider-available-on-paydex-vmS-sub-0 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .with-40-service-provider-available-on-paydex-vmS-sub-1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .image-7-iUL {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 35.3rem;
      height: 8.1rem;
    }
  }
  .group-234-2-e76 {
    object-fit: contain;
    vertical-align: top;
    width: 17.4487rem;
    height: 3.8744rem;
    position: absolute;
    left: 12.5rem;
    top: 778.7698rem;
  }
  .paydex-is-your-gateway-to-effortless-financial-management-our-mobile-app-empowers-you-with-seamless-money-transactions-bill-payments-and-more-with-paydex-experience-security-convenience-and-a-new-era-of-managing-your-finances-join-us-in-redefining-the-way-you-handle-money-MXJ {
    left: 3.1rem;
    top: 785rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3625;
    color: #b3b3b3;
    font-family: Open Sans, 'Source Sans Pro';
    width: 36.7rem;
    height: 8.2rem;
    position: absolute;
    font-weight: 400;
  }
  .auto-group-9xa8-uhE {
    width: 43rem;
    height: 53.9rem;
    position: absolute;
    left: 0;
    top: 793.2rem;

    .auto-group-ccu2-DC8 {
      left: 3.3rem;
      top: 4.1rem;
      display: flex;
      align-items: center;
      width: 25.4rem;
      height: 1.7rem;
      position: absolute;

      .company-wdv {
        line-height: 1.3625;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.5rem;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .help-center-tJG {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #000000;
      }
    }
    .auto-group-yst4-aRz {
      height: 1.7rem;
      position: absolute;
      left: 3.3rem;
      top: 8.1rem;
      display: flex;
      align-items: center;
      width: 24.3rem;

      .home-iHJ {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.6rem;
      }
      .call-center-2on {
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #b3b3b3;
      }
    }
    .auto-group-mv5e-nHA {
      left: 3.3rem;
      top: 11.1rem;
      display: flex;
      align-items: center;
      width: 21.3rem;
      height: 1.7rem;
      position: absolute;

      .about-us-Hji {
        font-weight: 400;
        line-height: 1.3625;
        color: #b3b3b3;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13rem;
        font-size: 1.2rem;
      }
      .faqs-SMi {
        color: #b3b3b3;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3625;
      }
    }
    .auto-group-pyjp-PGx {
      height: 1.7rem;
      position: absolute;
      left: 3.3rem;
      top: 14.1rem;
      display: flex;
      align-items: center;
      width: 24.3rem;

      .career-j5v {
        color: #b3b3b3;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.4rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3625;
      }
      .newsletter-UZJ {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #b3b3b3;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .contact-us-orU {
      font-family: Open Sans, 'Source Sans Pro';
      width: 6.1rem;
      height: 1.7rem;
      position: absolute;
      left: 3.3rem;
      font-size: 1.2rem;
      font-weight: 400;
      top: 17.1rem;
      line-height: 1.3625;
      color: #b3b3b3;
      white-space: nowrap;
    }
    .info-hBA {
      line-height: 1.3625;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 700;
      width: 2.4rem;
      left: 3.3rem;
      top: 23.1rem;
    }
    .follow-us-pWg {
      width: 5.8rem;
      position: absolute;
      left: 3.3rem;
      font-weight: 700;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      height: 1.7rem;
      top: 37.1rem;
      font-size: 1.2rem;
      line-height: 1.3625;
      white-space: nowrap;
    }
    .auto-group-wfkx-kQL {
      display: flex;
      align-items: center;
      width: 36rem;
      height: 2.7rem;
      position: absolute;
      left: 3.3rem;
      top: 41.2rem;

      .auto-group-r3wi-H9N {
        margin-right: 0.7rem;
        width: 2.7rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .instagram-Py6 {
        margin: 0.2rem 5.3rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-abye-66p {
        margin-right: 0.7rem;
        width: 2.7rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .xcom-DSL {
        flex-shrink: 0;
        margin: 0.2rem 5.3rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-k9zk-YjW {
        margin-right: 0.7rem;
        width: 2.7rem;
        height: 2.7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .facebook-Hwz {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
      }
    }
    .auto-group-npal-e1r {
      top: 27.8063rem;
      display: flex;
      align-items: flex-start;
      width: 13.2934rem;
      height: 1.7937rem;
      position: absolute;
      left: 3.4066rem;

      .ion-call-ZPi {
        margin-right: 1.2062rem;
        width: 1.4872rem;
        height: 1.4875rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-234-812-345-6789-7AL {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0937rem;
      }
    }
    .auto-group-f2tc-EEx {
      display: flex;
      align-items: center;
      width: 14.8rem;
      height: 1.9rem;
      position: absolute;
      left: 3.3rem;
      top: 31.1rem;

      .tabler-mail-filled-a3v {
        width: 1.7rem;
        height: 1.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.2rem 1.5rem 0rem 0rem;
      }
      .supportpaydexng-5mN {
        font-weight: 600;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
      }
    }
    .line-90-zdS {
      width: 41.3rem;
      height: 0.1rem;
      position: absolute;
      left: 1.2rem;
      top: 46.8rem;
      background-color: rgba(28, 78, 255, 0.0700000003);
    }
    .paydex-all-rights-reserved-dRW {
      position: absolute;
      font-weight: 400;
      line-height: 1.3625;
      color: #0834a4;
      font-family: Open Sans, 'Source Sans Pro';
      height: 1.4rem;
      left: 13.4rem;
      top: 48.5rem;
      text-align: center;
      font-size: 1rem;
      white-space: nowrap;
      width: 16.2rem;
    }
    .auto-group-3emj-5YQ {
      left: 12.8rem;
      top: 50.7rem;
      display: flex;
      align-items: center;
      width: 17.3rem;
      height: 1.4rem;
      position: absolute;

      .privacy-policy-bme {
        margin-right: 1.7rem;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.3625;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .terms-condition-iLU {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.3625;
        color: #0834a4;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
