
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.navbar-WVJ {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5rem 3.2rem 15.7rem 3.1rem;
  background-color: #ffffff;

  .octicon-x-12-BrL {
    flex-shrink: 0;
    margin: 0rem 0rem 8.7rem 33.9rem;
    width: 1.5999rem;
    height: 1.5999rem;
    object-fit: contain;
    vertical-align: top;
  }
  .home-H8g {
    text-align: center;
    font-weight: 700;
    font-family: Open Sans, 'Source Sans Pro';
    margin: 0rem 0rem 3.6rem 0.2rem;
    font-size: 2.8rem;
    line-height: 1.3625;
    color: #0834a4;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .about-PBi {
    font-size: 2.2rem;
    font-weight: 400;
    color: #b3b3b3;
    font-family: Open Sans, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0.1rem 4.5rem 0rem;
    text-align: center;
    line-height: 1.3625;
    white-space: nowrap;
  }
  .career-5qE {
    flex-shrink: 0;
    margin-bottom: 4.5rem;
    font-weight: 400;
    color: #b3b3b3;
    font-family: Open Sans, 'Source Sans Pro';
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.3625;
    white-space: nowrap;
  }
  .contact-us-c4U {
    margin: 0rem 0rem 9.97rem 0.1rem;
    line-height: 1.3625;
    white-space: nowrap;
    flex-shrink: 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    color: #b3b3b3;
    font-family: Open Sans, 'Source Sans Pro';
  }
  .group-234-2-j96 {
    width: 17.4487rem;
    height: 3.8744rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0.451rem 2.356rem 0rem;
  }
  .paydex-is-your-gateway-to-effortless-financial-management-our-mobile-app-empowers-you-with-seamless-money-transactions-bill-payments-and-more-with-paydex-experience-security-convenience-and-a-new-era-of-managing-your-finances-join-us-in-redefining-the-way-you-handle-money-rUc {
    max-width: 36.7rem;
    font-weight: 400;
    font-family: Open Sans, 'Source Sans Pro';
    margin-bottom: 4.6rem;
    font-size: 1.2rem;
    line-height: 1.3625;
    color: #b3b3b3;
    flex-shrink: 0;
    text-align: center;
  }
  .download-now-oHN {
    line-height: 1.3625;
    color: #3e3e3e;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 2.3rem;
  }
  .image-7-WxU {
    width: 28.1rem;
    height: 4rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
