
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.mobile-view-DgY {
  width: 100%;
  height: 847.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.mobile-view-DgY .auto-group-bqly-5ik {
  width: 55.2rem;
  height: 78.6rem;
  position: absolute;
  left: 0;
  top: 690.7rem;
}
.mobile-view-DgY .auto-group-bqly-5ik .line-89-bBJ {
  width: 38.0756rem;
  height: 28.6765rem;
  position: absolute;
  left: 0;
  top: 1.764rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .mingcute-send-fill-vjN {
  opacity: 0.2;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 28.6rem;
  top: 4.7rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .item--QPe {
  width: 1.1rem;
  height: 1.6rem;
  position: absolute;
  left: 4.4595rem;
  top: 9.8992rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.32;
  color: rgba(21, 165, 35, 0.200000003);
  font-family: Nokora, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-bqly-5ik .ellipse-192-g6G {
  width: 1.3989rem;
  height: 1.3989rem;
  position: absolute;
  left: 10.2214rem;
  top: 13.7477rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .polygon-4-DM6 {
  width: 1.6243rem;
  height: 1.3966rem;
  position: absolute;
  left: 10.2214rem;
  top: 0.3725rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .ri-p2p-line-jKS {
  opacity: 0.2;
  width: 1.0122rem;
  height: 1.0463rem;
  position: absolute;
  left: 35.7704rem;
  top: 8.9781rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .ri-building-fill-oKJ {
  opacity: 0.2;
  width: 1.1165rem;
  height: 0.9924rem;
  position: absolute;
  left: 18.951rem;
  top: 4.7258rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .solar-tv-bold-duotone-WDi {
  opacity: 0.2;
  width: 0.6576rem;
  height: 0.6471rem;
  position: absolute;
  left: 3.4829rem;
  top: 3.4822rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .group-S7N {
  opacity: 0.2;
  width: 0.6132rem;
  height: 0.6247rem;
  position: absolute;
  left: 30.0656rem;
  top: 42.0344rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .ic-outline-signal-wifi-1-bar-Zxg {
  opacity: 0.2;
  width: 1.8309rem;
  height: 1.6949rem;
  position: absolute;
  left: 37.6789rem;
  top: 0.4967rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .rectangle-244-5g8 {
  width: 7.8311rem;
  height: 7.8311rem;
  position: absolute;
  left: 17.513rem;
  top: 12.9171rem;
  background-color: rgba(0, 46, 166, 0.200000003);
  border-radius: 4rem;
}
.mobile-view-DgY .auto-group-bqly-5ik .group-243-m3A {
  opacity: 0.2;
  width: 3.8672rem;
  height: 3.8672rem;
  position: absolute;
  left: 19.5433rem;
  top: 14.9251rem;
  background-color: #ffffff;
  border-radius: 5rem 77rem 77rem 77rem;
}
.mobile-view-DgY .auto-group-bqly-5ik .group-243-m3A .rectangle-144-Twa {
  width: 1.8349rem;
  height: 1.8349rem;
  position: absolute;
  left: 1.0161rem;
  top: 1.0161rem;
  background-color: #0834a4;
  border-radius: 10rem 65.9rem 65.9rem 24.45rem;
}
.mobile-view-DgY .auto-group-bqly-5ik .group-243-m3A .rectangle-145-yf2 {
  width: 0.5981rem;
  height: 0.5981rem;
  position: absolute;
  left: 1.6346rem;
  top: 1.6347rem;
  background-color: #ffffff;
  border-radius: 10rem 65.9rem 65.9rem 10rem;
}
.mobile-view-DgY .auto-group-bqly-5ik .group-243-m3A .rectangle-146-6Uk {
  width: 1.102rem;
  height: 0.7349rem;
  position: absolute;
  left: 0.376rem;
  top: 1.8648rem;
  background-color: #0834a4;
}
.mobile-view-DgY .auto-group-bqly-5ik .ellipse-193-R1E {
  width: 1.4rem;
  height: 1.5rem;
  position: absolute;
  left: 29.6rem;
  top: 13.2rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .ellipse-194-8RS {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  left: 9.8rem;
  top: 0;
  box-shadow: 0 0 2.5rem rgba(28, 78, 255, 0.0299999993);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-194-bg.png');
  border-radius: 1.15rem;
}
.mobile-view-DgY .auto-group-bqly-5ik .ellipse-195-nF6 {
  width: 2.8209rem;
  height: 2.8209rem;
  position: absolute;
  left: 9.9647rem;
  top: 13.3988rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .rectangle-244-8Jx {
  width: 43rem;
  height: 62.5rem;
  position: absolute;
  left: 0;
  top: 16.1rem;
  background: linear-gradient(102.6deg, #1c4eff 0%, #0834a4 83.1%);
  border-radius: 5.5rem;
}
.mobile-view-DgY .auto-group-bqly-5ik .image-7-3gp {
  width: 49.3rem;
  height: 31.1rem;
  position: relative;
  left: 0;
  top: 22.3rem;
  background-size: 101.871% 138.286%;
  background-position: -0.9222rem -3.5155rem;
  background-image: url('../assets/image-7-VYQ.png');
}
.mobile-view-DgY .auto-group-bqly-5ik .group-235-2-xHz {
  width: 15.584rem;
  height: 20.1318rem;
  position: absolute;
  left: 13.9rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-bqly-5ik .iphone-13-pro-4M2 {
  width: 28.8rem;
  height: 32.9rem;
  position: relative;
  left: 7.1rem;
  top: 45.7rem;
  background-size: 346.995% 227.518%;
  background-position: -19.816rem -6.8406rem;
  background-image: url('../assets/iphone-13-pro-Hzc.png');
}
.mobile-view-DgY .ellipse-191-jTA {
  width: 2.313rem;
  height: 2.313rem;
  position: absolute;
  left: 27.6659rem;
  top: 686.911rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-s8vj-spG {
  box-sizing: border-box;
  padding: 3.8rem 2rem 7.631rem 2.1rem;
  width: 43rem;
  height: 47.1313rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-5rr4-Zh6 {
  margin-bottom: 8.4791rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-5rr4-Zh6 .group-234-1-tzG {
  margin: 0.049rem 24.421rem 0rem 0rem;
  width: 11.0795rem;
  height: 2.3721rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-5rr4-Zh6 .auto-group-xnoe-aMJ {
  width: 3.4rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-seex-hB2 {
  margin: 0rem 0.312rem 5rem 9.2rem;
  width: calc(100% - 9.5117rem);
  height: 11.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-seex-hB2 .auto-group-au4q-con {
  width: 20.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-seex-hB2 .auto-group-au4q-con .payment-made-Nnx {
  width: 18.8rem;
  height: 3.5rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-seex-hB2 .auto-group-au4q-con .simple-6DA {
  width: 20.3rem;
  height: 8.2rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  text-align: right;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3625;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-seex-hB2 .auto-group-4qcx-CGC {
  box-sizing: border-box;
  padding: 3rem 0rem 5.712rem 6.2rem;
  height: 100%;
  border-left: solid 0.2rem #0834a4;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-s8vj-spG .auto-group-seex-hB2 .auto-group-4qcx-CGC .ellipse-3-XJU {
  width: 2.8882rem;
  height: 2.8882rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-s8vj-spG .download-now-ett {
  margin: 0rem 0.2rem 2.8rem 0rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #3e3e3e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-s8vj-spG .image-7-YDa {
  margin-right: 0.2rem;
  width: 28.1rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-qy7n-t2Y {
  width: 57.6rem;
  height: 39.8688rem;
  position: absolute;
  left: 0;
  top: 47.1313rem;
}
.mobile-view-DgY .auto-group-qy7n-t2Y .ellipse-191-cz8 {
  width: 4.7548rem;
  height: 4.7548rem;
  position: absolute;
  left: 1.9508rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-qy7n-t2Y .ellipse-191-wmW {
  width: 21.3rem;
  height: 21.3rem;
  position: absolute;
  left: 15rem;
  top: 13.7688rem;
  filter: blur(20rem);
  background: linear-gradient(150.76deg, rgba(28, 78, 255, 0.8000000119) 12.22%, rgba(8, 52, 164, 0.8000000119) 99.78%);
  border-radius: 10.65rem;
}
.mobile-view-DgY .auto-group-qy7n-t2Y .ellipse-192-pKW {
  width: 24.7rem;
  height: 24.5rem;
  position: absolute;
  left: 13.4rem;
  top: 10.5688rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-qy7n-t2Y .iphone-15-pro-LYk {
  width: 57.6rem;
  height: 35.9rem;
  position: relative;
  left: 0;
  top: 3.9688rem;
  background-size: 100% 120.334%;
  background-position: 0 -5.35rem;
  background-image: url('../assets/iphone-15-pro-Lap.png');
}
.mobile-view-DgY .ellipse-191-Sbn {
  width: 8.3021rem;
  height: 8.3021rem;
  position: absolute;
  left: 37.1rem;
  top: 87rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .discover-a-revolutionary-way-to-manage-your-finances-with-paydex-streamline-your-transactions-send-and-receive-money-effortlessly-pay-bills-seamlessly-and-explore-the-world-of-cryptocurrencyall-in-one-powerful-app-y5v {
  width: 38.2rem;
  height: 6.6rem;
  position: absolute;
  left: 2.35rem;
  top: 101rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .send-receive-z12 {
  width: 23rem;
  height: 16.4rem;
  position: absolute;
  left: 9.95rem;
  top: 112.6rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3625;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-echz-bmW {
  box-sizing: border-box;
  padding: 1.2rem 3.1rem 7.7rem 3rem;
  width: 43rem;
  height: 44.8rem;
  position: absolute;
  left: 0;
  top: 141rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-ucll-tEp {
  margin: 0rem 12.6rem 0.2rem 11.3rem;
  width: calc(100% - 23.9rem);
  height: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-ucll-tEp .auto-group-yr6c-NQt {
  margin: 1.9rem 3.2rem 2.7rem 0rem;
  width: 1.4rem;
  height: calc(100% - 4.6rem);
  position: relative;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-ucll-tEp .auto-group-yr6c-NQt .ellipse-194-6Lt {
  width: 1.1rem;
  height: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-ucll-tEp .auto-group-yr6c-NQt .item--RPA {
  width: 1.1rem;
  height: 1.6rem;
  position: absolute;
  left: 0.3rem;
  top: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.32;
  color: #15a523;
  font-family: Nokora, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-ucll-tEp .auto-group-vxse-KjS {
  margin: 2.7rem 2.6rem 0rem 0rem;
  width: 3.5rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-ucll-tEp .auto-group-btkt-qSt {
  margin-bottom: 4rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-l9wi-NSp {
  margin: 0rem 9rem 7.7rem 8.3rem;
  width: calc(100% - 17.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-l9wi-NSp .ellipse-191-6tc {
  margin: 1.2rem 2.761rem 0rem 0rem;
  width: 6.6rem;
  height: 6.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-l9wi-NSp .iconamoon-lightning-1-CAx {
  margin: 1.081rem 2.35rem 0rem 0rem;
  width: 0.7888rem;
  height: 1.0231rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-l9wi-NSp .ellipse-195-tJg {
  margin-bottom: 0.5rem;
  width: 7.1rem;
  height: 7.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .experience-seamless-transactions-where-sending-funds-to-friends-family-or-businesses-becomes-effortless-and-receiving-money-is-equally-swift-and-secure-2fn {
  margin-bottom: 4rem;
  max-width: 36.9rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-echz-bmW .auto-group-dqcg-6Qk {
  margin: 0rem 11.6rem 0rem 11.7rem;
  width: calc(100% - 23.3rem);
  height: 5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #0834a4;
  box-sizing: border-box;
  background-color: #0834a4;
  border-radius: 1.1rem;
  flex-shrink: 0;
}
.mobile-view-DgY .ellipse-192-6p4 {
  width: 5.7rem;
  height: 5.8rem;
  position: absolute;
  left: 17.6rem;
  top: 135.2rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-tuly-1w2 {
  box-sizing: border-box;
  padding: 10.1rem 2.287rem 8.3rem 2.9rem;
  width: 43rem;
  height: 107.3rem;
  position: absolute;
  left: 0;
  top: 185.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #eff3ff;
}
.mobile-view-DgY .auto-group-tuly-1w2 .utility-bill-payments-Wsn {
  margin: 0rem 0.713rem 0.6rem 0rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .made-easy-pda {
  margin: 0rem 0.613rem 2.9rem 0rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3625;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .paydex-allows-you-to-effortlessly-handle-your-utility-bill-payments-making-the-process-convenient-and-stress-free-Z5N {
  margin: 0rem 0.613rem 4.3rem 0rem;
  max-width: 37.2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .download-now-okQ {
  margin: 0rem 0.713rem 1.7rem 0rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-xs4q-tmr {
  margin: 0rem 13.813rem 7.305rem 13.2rem;
  width: calc(100% - 27.0128rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-xs4q-tmr .auto-group-4ynl-qBJ {
  margin-right: 0.8rem;
  width: 5rem;
  height: 4.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-xs4q-tmr .auto-group-expr-MvL {
  width: 5rem;
  height: 4.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .group-240-1-ugx {
  margin: 0rem 0.713rem 1.101rem 0rem;
  width: 5.2894rem;
  height: 4.9891rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg {
  margin-left: 1.3588rem;
  width: 36.4539rem;
  height: 44.4049rem;
  position: relative;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg .rectangle-244-YV2 {
  width: 15.9rem;
  height: 34.4rem;
  position: absolute;
  left: 15.0412rem;
  top: 1.9049rem;
  filter: blur(5rem);
  background-color: rgba(28, 78, 255, 0.1299999952);
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg .iphone-14-15-pro-max-39-2-czg {
  width: 15.1rem;
  height: 32.8rem;
  position: absolute;
  left: 15.0412rem;
  top: 4.2049rem;
  object-fit: cover;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg .rectangle-245-kLC {
  width: 18.5rem;
  height: 37.6rem;
  position: absolute;
  left: 3.4412rem;
  top: 6.8049rem;
  filter: blur(5rem);
  background-color: rgba(28, 78, 255, 0.1299999952);
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg .iphone-14-15-pro-max-80-2-Umz {
  width: 15.8rem;
  height: 34.2rem;
  position: absolute;
  left: 5.0412rem;
  top: 8.0049rem;
  object-fit: cover;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg .group-238-1-b5v {
  width: 3.5824rem;
  height: 3.4016rem;
  position: absolute;
  left: 0;
  top: 3.9541rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg .group-239-1-jT2 {
  width: 4.0255rem;
  height: 3.8098rem;
  position: absolute;
  left: 32.4284rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-tuly-1w2 .auto-group-x3d6-bpg .group-241-1-rGk {
  width: 12.8432rem;
  height: 3.2663rem;
  position: absolute;
  left: 23.2195rem;
  top: 24.5718rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .discover-more-BK2 {
  width: 33.5rem;
  height: 6.2rem;
  position: absolute;
  left: 4.75rem;
  top: 301rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3625;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .group-242-1-4tc {
  width: 22.1074rem;
  height: 30.1rem;
  position: absolute;
  left: 10.5506rem;
  top: 314.7rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .paydex-app-goes-beyond-money-management-offering-flight-booking-invoicing-solutions-virtual-card-and-secure-bitcoin-services-all-in-one-place-orC {
  width: 34.3rem;
  height: 5rem;
  position: absolute;
  left: 4.3rem;
  top: 351.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .mingcute-check-2-fill-Tvk {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 20.3rem;
  top: 360.2rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .mingcute-check-2-fill-zvg {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 20.3rem;
  top: 369.3rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .mingcute-check-2-fill-irg {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 20.3rem;
  top: 378.4rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .mingcute-check-2-fill-SXn {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 20.3rem;
  top: 387.5rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .book-flights-hassle-free-within-our-app-y1v {
  width: 26.5rem;
  height: 2rem;
  position: absolute;
  left: 8.2rem;
  top: 364rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .generate-and-share-invoice-links-swiftly-3nU {
  width: 27.3rem;
  height: 2rem;
  position: absolute;
  left: 7.8rem;
  top: 373.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .create-and-manage-virtual-cards-x8k {
  width: 22rem;
  height: 2rem;
  position: absolute;
  left: 10.5rem;
  top: 382.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .manage-bitcoin-transactions-effortlessly-cj6 {
  width: 27.6rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 391.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-dhfr-j32 {
  width: 73.5081rem;
  height: 90.3595rem;
  position: absolute;
  left: 0;
  top: 404.4rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-1mE {
  width: 42.8rem;
  height: 66.8rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background: linear-gradient(117.73deg, #1c4eff -0%, #0834a4 67.23%);
  border-radius: 5.3rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .image-7-hPA {
  width: 42.8rem;
  height: 32.1rem;
  position: absolute;
  left: 0.1rem;
  top: 0.6rem;
  object-fit: cover;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-Ett {
  width: 18.3rem;
  height: 12.6rem;
  position: absolute;
  left: 1.8rem;
  top: 28.3rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
  background-color: #ffffff;
  border-radius: 2rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-250-k6Y {
  width: 18.3rem;
  height: 12.6rem;
  position: absolute;
  left: 1.8rem;
  top: 44rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
  background-color: #ffffff;
  border-radius: 2rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-252-4d2 {
  width: 18.3rem;
  height: 12.6rem;
  position: absolute;
  left: 1.8rem;
  top: 59.7rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
  background-color: #ffffff;
  border-radius: 2rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-249-yV6 {
  width: 18.3rem;
  height: 12.6rem;
  position: absolute;
  left: 22.9rem;
  top: 28.3rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
  background-color: #ffffff;
  border-radius: 2rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-251-VyE {
  width: 18.3rem;
  height: 12.6rem;
  position: absolute;
  left: 22.9rem;
  top: 44rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
  background-color: #ffffff;
  border-radius: 2rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-253-ER2 {
  width: 18.3rem;
  height: 12.6rem;
  position: absolute;
  left: 22.9rem;
  top: 59.7rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.200000003);
  background-color: #ffffff;
  border-radius: 2rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .your-all-in-one-financial-hub-xrp {
  width: 28.5rem;
  height: 13rem;
  position: absolute;
  left: 7.2rem;
  top: 3.2rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-dhfr-j32 .your-all-in-one-financial-hub-xrp .your-all-in-one-financial-hub-xrp-sub-0 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-dhfr-j32 .your-all-in-one-financial-hub-xrp .your-all-in-one-financial-hub-xrp-sub-1 {
}
.mobile-view-DgY .auto-group-dhfr-j32 .your-all-in-one-financial-hub-xrp .your-all-in-one-financial-hub-xrp-sub-2 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-dhfr-j32 .paydex-app-isnt-just-about-money-transfers-its-your-comprehensive-solution-for-a-wide-range-of-financial-needs-with-paydex-you-can--t1i {
  width: 33.3rem;
  height: 5rem;
  position: absolute;
  left: 4.85rem;
  top: 18.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-iWY {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 8.9rem;
  top: 30.7rem;
  background-color: #0834a4;
  border-radius: 1rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .mingcute-send-fill-TDE {
  width: 1.9rem;
  height: 2.1rem;
  position: absolute;
  left: 10rem;
  top: 31.6rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-Pcg {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 30rem;
  top: 30.7rem;
  background-color: rgba(28, 78, 255, 0.1274999976);
  border-radius: 1rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .vector-72t {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 31rem;
  top: 31.7rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-pCC {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 8.9rem;
  top: 46.3rem;
  background-color: rgba(36, 179, 241, 0.25);
  border-radius: 1rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .ic-outline-signal-wifi-1-bar-LgL {
  width: 1.94rem;
  height: 1.5417rem;
  position: absolute;
  left: 10.03rem;
  top: 47.55rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-SjN {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 30rem;
  top: 46.3rem;
  background-color: rgba(198, 202, 19, 0.25);
  border-radius: 1rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .healthicons-electricity-Nsv {
  width: 1.225rem;
  height: 1.6667rem;
  position: absolute;
  left: 31.4375rem;
  top: 47.4667rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-URA {
  width: 4.1rem;
  height: 3.8rem;
  position: absolute;
  left: 8.9rem;
  top: 62.2rem;
  background-color: rgba(82, 82, 82, 0.25);
  border-radius: 1rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .solar-tv-bold-duotone-BaU {
  width: 1.6667rem;
  height: 1.6459rem;
  position: absolute;
  left: 10.1667rem;
  top: 63.2875rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-dhfr-j32 .rectangle-244-JQC {
  width: 4.1rem;
  height: 3.8rem;
  position: absolute;
  left: 30rem;
  top: 62.2rem;
  background-color: rgba(103, 235, 70, 0.2275000066);
  border-radius: 1rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .group-243-pNY {
  width: 2.0267rem;
  height: 2.0267rem;
  position: absolute;
  left: 31.0133rem;
  top: 63.1121rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
}
.mobile-view-DgY .auto-group-dhfr-j32 .group-243-pNY .auto-group-vhbj-wxx {
  margin-bottom: 0.2533rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-dhfr-j32 .group-243-pNY .auto-group-vhbj-wxx .rectangle-218-Uxt {
  margin-right: 0.2533rem;
  width: 0.8867rem;
  height: 0.8867rem;
  background-color: #15a523;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-dhfr-j32 .group-243-pNY .auto-group-vhbj-wxx .rectangle-219-pWx {
  width: 0.8867rem;
  height: 0.8867rem;
  background-color: #15a523;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-dhfr-j32 .group-243-pNY .auto-group-tpr8-wrU {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-dhfr-j32 .group-243-pNY .auto-group-tpr8-wrU .rectangle-220-Jh2 {
  margin-right: 0.2533rem;
  width: 0.8867rem;
  height: 0.8867rem;
  background-color: #15a523;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-dhfr-j32 .group-243-pNY .auto-group-tpr8-wrU .rectangle-221-rTe {
  width: 0.8867rem;
  height: 0.8867rem;
  background-color: #15a523;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-dhfr-j32 .send-and-receive-money-yoA {
  width: 14.4rem;
  height: 1.7rem;
  position: absolute;
  left: 3.8rem;
  top: 36rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-dhfr-j32 .top-up-airtime-J4k {
  width: 8.6rem;
  height: 1.7rem;
  position: absolute;
  left: 27.7rem;
  top: 36rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-dhfr-j32 .buy-data-zTN {
  width: 5.3rem;
  height: 1.7rem;
  position: absolute;
  left: 8.3rem;
  top: 51.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-dhfr-j32 .electricity-bills-6WQ {
  width: 8.4rem;
  height: 1.7rem;
  position: absolute;
  left: 27.8rem;
  top: 51.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-dhfr-j32 .cable-tv-subscription-pSQ {
  width: 12.7rem;
  height: 1.7rem;
  position: absolute;
  left: 4.7rem;
  top: 67.4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-dhfr-j32 .more-hm6 {
  width: 4.1rem;
  height: 1.7rem;
  position: absolute;
  left: 30.1rem;
  top: 67.4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-dhfr-j32 .line-89-xS8 {
  width: 73.5081rem;
  height: 19.0341rem;
  position: absolute;
  left: 0;
  top: 71.3254rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .join-community-of-users-who-are-already-using-paydex-6YL {
  width: 37.3rem;
  height: 6.9rem;
  position: absolute;
  left: 2.8rem;
  top: 501.2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 {
  width: 43rem;
  height: 144rem;
  position: absolute;
  left: 0;
  top: 508.1rem;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cgwx-5v4 {
  width: 36.2rem;
  height: 8.7rem;
  position: absolute;
  left: 3.4rem;
  top: 13.1rem;
  display: flex;
  align-items: flex-end;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cgwx-5v4 .ellipse-196-pMr {
  margin: 0rem 11.1rem 1.8rem 0rem;
  width: 2.7rem;
  height: 2.7rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-196-bg.png');
  border-radius: 1.35rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cgwx-5v4 .auto-group-9ewn-Jnp {
  margin: 0rem 10.3rem 0.4rem 0rem;
  width: 8.5rem;
  height: 8.3rem;
  position: relative;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cgwx-5v4 .auto-group-9ewn-Jnp .ellipse-191-S8L {
  width: 6.7rem;
  height: 6.8rem;
  position: absolute;
  left: 0.9rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cgwx-5v4 .auto-group-9ewn-Jnp .ellipse-192-ye4 {
  width: 8.5rem;
  height: 8.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cgwx-5v4 .ellipse-193-uGp {
  width: 3.6rem;
  height: 3.6rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-193-bg.png');
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-ekv8-bvL {
  width: 32.2682rem;
  height: 7.6rem;
  position: absolute;
  left: 5.6318rem;
  top: 22.4rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-ekv8-bvL .ellipse-199-1jA {
  margin: 2.413rem 3.264rem 0rem 0rem;
  width: 2.9042rem;
  height: 2.9042rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-ekv8-bvL .ellipse-197-YDJ {
  margin: 0rem 11.1rem 2.7rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-197-bg.png');
  border-radius: 1.95rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-ekv8-bvL .ellipse-194-e1S {
  margin: 0rem 4.5rem 5rem 0rem;
  width: 2.7rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-ekv8-bvL .ellipse-198-ZPJ {
  margin-top: 3.7rem;
  width: 3.9rem;
  height: 3.9rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-198-bg.png');
  border-radius: 1.95rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-av8u-BvU {
  width: 22.6rem;
  height: 4.4rem;
  position: absolute;
  left: 9.9rem;
  top: 7.9rem;
  display: flex;
  align-items: flex-start;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-av8u-BvU .ellipse-195-vdA {
  margin-right: 15.3rem;
  width: 3.6rem;
  height: 3.6rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-195-bg.png');
  border-radius: 1.8rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-av8u-BvU .ellipse-200-qEL {
  margin-top: 0.7rem;
  width: 3.7rem;
  height: 3.7rem;
  box-shadow: 0 0 10rem rgba(28, 78, 255, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-200-bg.png');
  border-radius: 1.85rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .i-love-using-this-paydex-app-its-so-convenient-and-user-friendly-i-can-easily-transfer-funds-pay-bills-and-keep-track-of-my-account-balance-on-the-go-MCg {
  width: 36.3rem;
  height: 5rem;
  position: absolute;
  left: 3.35rem;
  top: 35rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .christiana-BBi {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 18.3rem;
  top: 44rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #3e3e3e;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-9snl-ys2 .paydex-user-nigeria-d3i {
  width: 10.4rem;
  height: 1.4rem;
  position: absolute;
  left: 16.2rem;
  top: 46.2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.439453125;
  color: #3e3e3e;
  font-family: Istok Web, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.mobile-view-DgY .auto-group-9snl-ys2 .paydex-user-nigeria-d3i .paydex-user-nigeria-d3i-sub-0 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #3e3e3e;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .paydex-user-nigeria-d3i .paydex-user-nigeria-d3i-sub-1 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #3e3e3e;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cuak-zRz {
  width: 6.8rem;
  height: 0.8rem;
  position: absolute;
  left: 18.1rem;
  top: 50.2rem;
  display: flex;
  column-gap: 0.7rem;
  align-items: center;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cuak-zRz .ellipse-191-WQL {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #efefef;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cuak-zRz .ellipse-192-Fcp {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #efefef;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cuak-zRz .ellipse-193-bgg {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #0834a4;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cuak-zRz .ellipse-194-HZW {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #efefef;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-cuak-zRz .ellipse-195-crg {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #efefef;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-pe6y-yBS {
  width: 18.3rem;
  height: 9.5rem;
  position: absolute;
  left: 12.2rem;
  top: 62.1rem;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-pe6y-yBS .paydex-JzQ {
  width: 18.3rem;
  height: 7.6rem;
  position: absolute;
  left: 0;
  top: 1.9rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2575;
  font-family: Otomanopee One, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-pe6y-yBS .get-started-with-qUY {
  width: 15rem;
  height: 2.5rem;
  position: absolute;
  left: 1.75rem;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-j2hj-MSt {
  width: 24.8rem;
  height: 5.8rem;
  position: absolute;
  left: 4.1rem;
  top: 80rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-j2hj-MSt .auto-group-52gc-gzx {
  margin: 0.5rem 1.3rem 0.9rem 0rem;
  width: 4.4rem;
  height: calc(100% - 1.4rem);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 78, 255, 0.150000006);
  border-radius: 1rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-j2hj-MSt .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636 {
  max-width: 19.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3618164062;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-j2hj-MSt .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636 .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636-sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-j2hj-MSt .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636 .download-and-install-the-app-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-636-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 {
  width: 36.7rem;
  height: 24.4rem;
  position: absolute;
  left: 4.1rem;
  top: 90.3rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-8gua-1Bz {
  margin: 0rem 1.5rem 1.2rem 0rem;
  width: 13.2rem;
  height: 23.2rem;
  position: relative;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-8gua-1Bz .ellipse-191-Xw2 {
  width: 9.7rem;
  height: 9.8rem;
  position: absolute;
  left: 1.3rem;
  top: 7rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-8gua-1Bz .ellipse-192-2ct {
  width: 13rem;
  height: 14.4rem;
  position: absolute;
  left: 0.2rem;
  top: 4.9rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-8gua-1Bz .iphone-13-pro-maU {
  width: 12.5rem;
  height: 23.2rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 316.266% 126.999%;
  background-position: -7.8391rem -2.6926rem;
  background-image: url('../assets/iphone-13-pro-dec.png');
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-12iy-TTJ {
  margin: 2.1rem 1.4rem 2.2rem 0rem;
  height: calc(100% - 4.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-12iy-TTJ .auto-group-qnbv-yRe {
  margin: 0rem 0.1rem 11.3rem 0rem;
  width: 4.4rem;
  height: 4.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 78, 255, 0.150000006);
  border-radius: 1rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-12iy-TTJ .auto-group-dlz8-czQ {
  margin-left: 0.1rem;
  width: 4.4rem;
  height: 4.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 78, 255, 0.150000006);
  border-radius: 1rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-atex-qcG {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-atex-qcG .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4 {
  margin-bottom: 8.6rem;
  max-width: 16.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3618164062;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-atex-qcG .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4 .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4-sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-atex-qcG .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4 .sign-up-on-paydex-for-free-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-zk4-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-atex-qcG .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v {
  max-width: 14.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3618164062;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-atex-qcG .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v-sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-7mtz-hh6 .auto-group-atex-qcG .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v .fund-your-paydex-wallet-visit-your-app-store-search-for-paydex-and-download-and-install-the-app-on-your-mobile-device-P9v-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-fxoi-wUG {
  width: 25rem;
  height: 5.8rem;
  position: absolute;
  left: 4.1rem;
  top: 120.1rem;
  display: flex;
  align-items: flex-start;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-fxoi-wUG .auto-group-2yd2-54g {
  margin-right: 1.3rem;
  width: 4.4rem;
  height: 4.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 78, 255, 0.150000006);
  border-radius: 1rem;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-fxoi-wUG .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt {
  max-width: 19.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3618164062;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-fxoi-wUG .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt-sub-0 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .auto-group-fxoi-wUG .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt .enjoy-transacting-on-paydex-open-the-app-and-follow-the-quick-and-easy-sign-up-process-all-you-need-is-your-basic-personal-information-Mnt-sub-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9snl-ys2 .start-using-paydex-app-following-these-4-simple-steps-Pd6 {
  width: 30.7rem;
  height: 1.7rem;
  position: absolute;
  left: 6.15rem;
  top: 135.3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-a5tr-fKi {
  box-sizing: border-box;
  padding: 6.3rem 0rem 6.4rem 0rem;
  width: 49.6rem;
  height: 30.6rem;
  position: absolute;
  left: 0;
  top: 652.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #eff3ff;
}
.mobile-view-DgY .auto-group-a5tr-fKi .with-40-service-provider-available-on-paydex-vmS {
  margin-bottom: 5.7rem;
  text-align: center;
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.3618164062;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-a5tr-fKi .with-40-service-provider-available-on-paydex-vmS .with-40-service-provider-available-on-paydex-vmS-sub-0 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-a5tr-fKi .with-40-service-provider-available-on-paydex-vmS .with-40-service-provider-available-on-paydex-vmS-sub-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-a5tr-fKi .image-7-iUL {
  margin-right: 0.1rem;
  width: 35.3rem;
  height: 8.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .group-234-2-e76 {
  width: 17.4487rem;
  height: 3.8744rem;
  position: absolute;
  left: 12.5rem;
  top: 778.7698rem;
  object-fit: contain;
  vertical-align: top;
}
.mobile-view-DgY .paydex-is-your-gateway-to-effortless-financial-management-our-mobile-app-empowers-you-with-seamless-money-transactions-bill-payments-and-more-with-paydex-experience-security-convenience-and-a-new-era-of-managing-your-finances-join-us-in-redefining-the-way-you-handle-money-MXJ {
  width: 36.7rem;
  height: 8.2rem;
  position: absolute;
  left: 3.1rem;
  top: 785rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
}
.mobile-view-DgY .auto-group-9xa8-uhE {
  width: 43rem;
  height: 53.9rem;
  position: absolute;
  left: 0;
  top: 793.2rem;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-ccu2-DC8 {
  width: 25.4rem;
  height: 1.7rem;
  position: absolute;
  left: 3.3rem;
  top: 4.1rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-ccu2-DC8 .company-wdv {
  margin-right: 12.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-ccu2-DC8 .help-center-tJG {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-yst4-aRz {
  width: 24.3rem;
  height: 1.7rem;
  position: absolute;
  left: 3.3rem;
  top: 8.1rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-yst4-aRz .home-iHJ {
  margin-right: 14.6rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-yst4-aRz .call-center-2on {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-mv5e-nHA {
  width: 21.3rem;
  height: 1.7rem;
  position: absolute;
  left: 3.3rem;
  top: 11.1rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-mv5e-nHA .about-us-Hji {
  margin-right: 13rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-mv5e-nHA .faqs-SMi {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-pyjp-PGx {
  width: 24.3rem;
  height: 1.7rem;
  position: absolute;
  left: 3.3rem;
  top: 14.1rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-pyjp-PGx .career-j5v {
  margin-right: 14.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-pyjp-PGx .newsletter-UZJ {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .contact-us-orU {
  width: 6.1rem;
  height: 1.7rem;
  position: absolute;
  left: 3.3rem;
  top: 17.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #b3b3b3;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-9xa8-uhE .info-hBA {
  width: 2.4rem;
  height: 1.7rem;
  position: absolute;
  left: 3.3rem;
  top: 23.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-9xa8-uhE .follow-us-pWg {
  width: 5.8rem;
  height: 1.7rem;
  position: absolute;
  left: 3.3rem;
  top: 37.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-wfkx-kQL {
  width: 36rem;
  height: 2.7rem;
  position: absolute;
  left: 3.3rem;
  top: 41.2rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-wfkx-kQL .auto-group-r3wi-H9N {
  margin-right: 0.7rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-wfkx-kQL .instagram-Py6 {
  margin: 0.2rem 5.3rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-wfkx-kQL .auto-group-abye-66p {
  margin-right: 0.7rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-wfkx-kQL .xcom-DSL {
  margin: 0.2rem 5.3rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-wfkx-kQL .auto-group-k9zk-YjW {
  margin-right: 0.7rem;
  width: 2.7rem;
  height: 2.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-wfkx-kQL .facebook-Hwz {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-npal-e1r {
  width: 13.2934rem;
  height: 1.7937rem;
  position: absolute;
  left: 3.4066rem;
  top: 27.8063rem;
  display: flex;
  align-items: flex-start;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-npal-e1r .ion-call-ZPi {
  margin-right: 1.2062rem;
  width: 1.4872rem;
  height: 1.4875rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-npal-e1r .item-234-812-345-6789-7AL {
  margin-top: 0.0937rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-f2tc-EEx {
  width: 14.8rem;
  height: 1.9rem;
  position: absolute;
  left: 3.3rem;
  top: 31.1rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-f2tc-EEx .tabler-mail-filled-a3v {
  margin: 0.2rem 1.5rem 0rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-f2tc-EEx .supportpaydexng-5mN {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .line-90-zdS {
  width: 41.3rem;
  height: 0.1rem;
  position: absolute;
  left: 1.2rem;
  top: 46.8rem;
  background-color: rgba(28, 78, 255, 0.0700000003);
}
.mobile-view-DgY .auto-group-9xa8-uhE .paydex-all-rights-reserved-dRW {
  width: 16.2rem;
  height: 1.4rem;
  position: absolute;
  left: 13.4rem;
  top: 48.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-3emj-5YQ {
  width: 17.3rem;
  height: 1.4rem;
  position: absolute;
  left: 12.8rem;
  top: 50.7rem;
  display: flex;
  align-items: center;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-3emj-5YQ .privacy-policy-bme {
  margin-right: 1.7rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mobile-view-DgY .auto-group-9xa8-uhE .auto-group-3emj-5YQ .terms-condition-iLU {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #0834a4;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
